n8n/workflows/wf-enrich.json
{
  "active": true,
  "activeVersion": {
    "authors": "재은 김",
    "autosaved": false,
    "connections": {
      "라우팅": {
        "main": [
          [
            {
              "index": 0,
              "node": "카드 생성",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "카드 보강",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Slack 통보",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "풍부화 로그 기록",
              "type": "main"
            }
          ]
        ]
      },
      "완료 기획 판정": {
        "main": [
          [
            {
              "index": 0,
              "node": "풍부화 에이전트",
              "type": "main"
            }
          ]
        ]
      },
      "작업 분해": {
        "main": [
          [
            {
              "index": 0,
              "node": "라우팅",
              "type": "main"
            }
          ]
        ]
      },
      "파이프라인 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "풍부화 로그 조회",
              "type": "main"
            }
          ]
        ]
      },
      "풍부화 Sonnet": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "풍부화 에이전트",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "풍부화 로그 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "완료 기획 판정",
              "type": "main"
            }
          ]
        ]
      },
      "풍부화 에이전트": {
        "main": [
          [
            {
              "index": 0,
              "node": "작업 분해",
              "type": "main"
            }
          ]
        ]
      },
      "풍부화 파서": {
        "ai_outputParser": [
          [
            {
              "index": 0,
              "node": "풍부화 에이전트",
              "type": "ai_outputParser"
            }
          ]
        ]
      },
      "풍부화 폴링": {
        "main": [
          [
            {
              "index": 0,
              "node": "허브 목록 조회",
              "type": "main"
            }
          ]
        ]
      },
      "허브 목록 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "파이프라인 조회",
              "type": "main"
            }
          ]
        ]
      },
      "허브 카드 읽기": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "풍부화 에이전트",
              "type": "ai_tool"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-06-22T05:40:41.137Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "enrich-poll-001",
        "name": "풍부화 폴링",
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "position": [
          -100,
          300
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "enrich-hublist-001",
        "name": "허브 목록 조회",
        "parameters": {
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "3a6975952ad54380bc580901e079a7f7"
          },
          "operation": "getAll",
          "options": {},
          "resource": "databasePage",
          "returnAll": true,
          "simple": false
        },
        "position": [
          120,
          300
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      },
      {
        "id": "enrich-pipe-001",
        "name": "파이프라인 조회",
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "mode": "id",
            "value": "16uFko9jgm6gFs0T"
          },
          "filters": {
            "conditions": []
          },
          "matchType": "allConditions",
          "operation": "get",
          "resource": "row",
          "returnAll": true
        },
        "position": [
          340,
          300
        ],
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1
      },
      {
        "alwaysOutputData": true,
        "id": "enrich-log-read-001",
        "name": "풍부화 로그 조회",
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "mode": "id",
            "value": "KZccSviFYvgYA9e4"
          },
          "filters": {
            "conditions": []
          },
          "matchType": "allConditions",
          "operation": "get",
          "resource": "row",
          "returnAll": true
        },
        "position": [
          560,
          300
        ],
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1
      },
      {
        "id": "enrich-judge-001",
        "name": "완료 기획 판정",
        "parameters": {
          "jsCode": "var pipe = $('파이프라인 조회').all().map(function(i){return i.json;});\nvar logRows = $('풍부화 로그 조회').all().map(function(i){return i.json;});\nvar enriched = {};\nlogRows.forEach(function(r){ if(r && r.parent_page_id) enriched[r.parent_page_id]=1; });\nvar cards = $('허브 목록 조회').all().map(function(i){return i.json;});\nvar menuLines = [];\ncards.forEach(function(c){\n  if(!c || !c.properties) return;\n  var p = c.properties;\n  var subj = (p['주제'] && p['주제'].title && p['주제'].title[0]) ? p['주제'].title[0].plain_text : '';\n  if(!subj) return;\n  var area = (p['영역'] && p['영역'].select) ? p['영역'].select.name : '';\n  var tier = (p['계층'] && p['계층'].select) ? p['계층'].select.name : '';\n  var trust = (p['신뢰등급'] && p['신뢰등급'].select) ? p['신뢰등급'].select.name : '';\n  menuLines.push('- [' + area + '/' + tier + '/' + trust + '] ' + subj + ' (id: ' + c.id + ')');\n});\nvar hubMenu = menuLines.join('\\n');\n\nvar byParent = {};\npipe.forEach(function(r){\n  if(!r || !r.parent_page_id) return;\n  if(!byParent[r.parent_page_id]) byParent[r.parent_page_id]=[];\n  byParent[r.parent_page_id].push(r);\n});\nvar out = [];\nObject.keys(byParent).forEach(function(pid){\n  if(enriched[pid]) return;\n  var rows = byParent[pid];\n  if(!rows.length) return;\n  var allCreated = rows.every(function(r){ return r.status !== 'pending'; });\n  if(!allCreated) return;\n  var first = rows[0];\n  var stagesText = rows.map(function(r){ return r.stage + (r.persona ? '(' + r.persona + ')' : ''); }).join(', ');\n  out.push({ json: {\n    pageId: pid,\n    title: first.title || '',\n    brief: first.brief || '',\n    qa: first.qa || '',\n    pipeline: first.pipeline || '',\n    stagesText: stagesText,\n    channelId: first.channel_id || 'C0B9LE2FF36',\n    threadTs: first.thread_ts || '',\n    pageUrl: 'https://www.notion.so/' + String(pid).replace(/-/g, ''),\n    hubMenu: hubMenu\n  }});\n});\nreturn out;"
        },
        "position": [
          780,
          300
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "aws": {
            "id": "GftVHJqfxQshQZ4P",
            "name": "AWS (IAM) account"
          }
        },
        "id": "enrich-sonnet-001",
        "name": "풍부화 Sonnet",
        "parameters": {
          "model": "global.anthropic.claude-sonnet-4-6",
          "modelSource": "inferenceProfile",
          "options": {
            "maxTokensToSample": 16000,
            "temperature": 0.2
          }
        },
        "position": [
          900,
          520
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
        "typeVersion": 1.1
      },
      {
        "id": "enrich-parser-001",
        "name": "풍부화 파서",
        "parameters": {
          "jsonSchemaExample": "{\n  \"operations\": [\n    {\n      \"action\": \"create\",\n      \"cardId\": \"\",\n      \"주제\": \"권장 보장금액 산출 규칙\",\n      \"영역\": \"시스템\",\n      \"관련직무\": [\n        \"개발\",\n        \"기획\"\n      ],\n      \"계층\": \"디테일\",\n      \"intro\": \"마이데이터 기반 권장 보장금액 산출의 기준·예외\",\n      \"bullets\": [\n        \"산출 기준: 마이데이터 소득·자산+부양가족 룰\",\n        \"노출: 플래너 앱 권장금액 카드+근거\"\n      ],\n      \"reason\": \"이번 기획에서 새로 확정된 규칙\"\n    }\n  ],\n  \"screen_changes\": [\n    {\n      \"화면\": \"권장 보장금액 결과\",\n      \"변경\": \"신규 추가\",\n      \"요약\": \"권장금액 카드+근거 화면 신설\",\n      \"figmaNodeId\": \"\"\n    }\n  ],\n  \"summary\": \"권장 보장금액 산출 규칙/화면을 Hub에 신규 반영\"\n}"
        },
        "position": [
          1120,
          520
        ],
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "enrich-hubread-001",
        "name": "허브 카드 읽기",
        "onError": "continueRegularOutput",
        "parameters": {
          "blockId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Context Hub 카드의 Notion page id') }}"
          },
          "descriptionType": "manual",
          "operation": "getAll",
          "resource": "block",
          "returnAll": true,
          "toolDescription": "Context Hub 카드 본문을 page id로 읽는다 (append 전 중복 확인용)"
        },
        "position": [
          1280,
          520
        ],
        "type": "n8n-nodes-base.notionTool",
        "typeVersion": 2.2
      },
      {
        "id": "enrich-agent-001",
        "name": "풍부화 에이전트",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "maxIterations": 12,
            "returnIntermediateSteps": false,
            "systemMessage": "=당신은 보맵 프로덕트팀의 '지식 큐레이터'입니다. 방금 끝까지 진행된(미결 결정 완료 + 단계 태스크 모두 생성된) 기획 하나를 받아, 앞으로의 기획·작업에 두고두고 도움될 '재사용 가능한 지식'만 추려 Context Hub를 풍부화합니다.\n\n# 기존 Context Hub 카드 메뉴(주제/영역/계층/신뢰등급/id)\n{{ $json.hubMenu }}\n\n# 도구\n- \"허브 카드 읽기\": 위 메뉴의 카드 본문을 id로 읽어 이미 있는 내용인지/무엇을 보탤지 확인. append 전에 반드시 대상 카드를 읽어 중복을 피하라.\n\n# 판단 규칙\n- 추출 대상: 영구적이고 재사용 가능한 지식만 — 새로 정해진 규칙·정책, 새 화면/플로우, 새 알림톡 유형, 시스템/연동 변경, 도메인 용어·결정. 일회성·사소·이번 기획에만 의미 있는 건 제외.\n- 추측 금지: 위 브리프·Q&A에 명확히 근거한 것만. 모르면 넣지 마라.\n- 중복 방지(upsert): 메뉴에 이미 같은 주제 카드가 있으면 action=\"append\"(그 카드 id에 보탤 핵심만), 없으면 action=\"create\"(새 카드).\n- 확정 카드 보호: 신뢰등급이 '확정'인 카드는 절대 덮어쓰지 마라 — 바꿀 게 있으면 action=\"propose\"(사람에게 제안만).\n- 카드 본문은 마크다운 말고 짧은 한국어 불릿(bullets)으로. intro는 create 시 한 줄 개요.\n- 영역 ∈ [제품·디자인·시스템·규제·결정로그], 계층 ∈ [핵심·디테일](대부분 디테일), 관련직무는 해당 직무들.\n- 화면 변경: 새 화면 추가/기존 화면 영구 수정이 브리프에 있으면 screen_changes에 기록(디자이너 핸드오프용). figmaNodeId 모르면 비워라.\n- 정말 풍부화할 게 없으면 operations=[] 로 두고 summary에 '특이사항 없음'.\n\n반드시 지정 JSON 스키마로만 답하세요(앞뒤 설명/펜스 금지)."
          },
          "promptType": "define",
          "text": "=기획: {{ $json.title }}\npage id: {{ $json.pageId }}\n\n정리된 브리프:\n{{ $json.brief }}\n\n질문·답변(결정된 사실):\n{{ $json.qa }}\n\n생성된 단계: {{ $json.stagesText }} / 파이프라인: {{ $json.pipeline }}"
        },
        "position": [
          1020,
          300
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1
      },
      {
        "id": "enrich-split-001",
        "name": "작업 분해",
        "parameters": {
          "jsCode": "var agentOuts = $('풍부화 에이전트').all();\nvar ctxs = $('완료 기획 판정').all();\nvar locked = {};\n$('허브 목록 조회').all().forEach(function(it){\n  var p = it.json && it.json.properties;\n  if(p && p['신뢰등급'] && p['신뢰등급'].select && p['신뢰등급'].select.name === '확정' && it.json.id) locked[it.json.id]=1;\n});\nvar now = $now.toFormat('yyyy-LL-dd');\nvar HUB_DB = '3a6975952ad54380bc580901e079a7f7';\n\nfunction clip(s,n){ s = (s==null)?'':String(s); return s.length>n ? s.slice(0,n) : s; }\nfunction rtxt(t){ return [{ type:'text', text:{ content: clip(t,1900) } }]; }\nfunction para(t){ return { object:'block', type:'paragraph', paragraph:{ rich_text: rtxt(t) } }; }\nfunction bullet(t){ return { object:'block', type:'bulleted_list_item', bulleted_list_item:{ rich_text: rtxt(t) } }; }\nfunction h3(t){ return { object:'block', type:'heading_3', heading_3:{ rich_text: rtxt(t) } }; }\nfunction props(op, ctx){\n  var roles = Array.isArray(op['관련직무']) ? op['관련직무'] : [];\n  var o = {};\n  o['주제'] = { title: [{ text:{ content: clip(op['주제']||'무제',200) } }] };\n  if(op['영역']) o['영역'] = { select:{ name: op['영역'] } };\n  o['관련 직무'] = { multi_select: roles.map(function(r){ return { name:r }; }) };\n  if(op['계층']) o['계층'] = { select:{ name: op['계층'] } };\n  o['신뢰등급'] = { select:{ name:'AI추가' } };\n  if(ctx.pageUrl) o['출처'] = { url: ctx.pageUrl };\n  return o;\n}\nfunction kids(op, ctx, isCreate){\n  var arr = [];\n  if(isCreate){ if(op.intro) arr.push(para(op.intro)); }\n  else { arr.push(h3('🤖 보강 — ' + now + ' (기획: ' + clip(ctx.title,60) + ')')); }\n  (Array.isArray(op.bullets)?op.bullets:[]).forEach(function(b){ arr.push(bullet(b)); });\n  if(isCreate) arr.push(para('출처: ' + (ctx.pageUrl||'') + ' · 자동 풍부화(AI추가)'));\n  return arr.slice(0,90);\n}\n\nvar out = [];\nfor(var i=0;i<agentOuts.length;i++){\n  var oo = (agentOuts[i].json && agentOuts[i].json.output) ? agentOuts[i].json.output : {};\n  var ctx = (ctxs[i] && ctxs[i].json) ? ctxs[i].json : {};\n  var ops = Array.isArray(oo.operations) ? oo.operations : [];\n  var screens = Array.isArray(oo.screen_changes) ? oo.screen_changes : [];\n  ops.forEach(function(op){\n    var action = op.action;\n    if(action === 'append' && op.cardId && locked[op.cardId]) action = 'propose';\n    if(action === 'create'){\n      out.push({ json:{ kind:'create', parent_db:HUB_DB, properties: props(op,ctx), children: kids(op,ctx,true), subject: op['주제']||'' } });\n    } else if(action === 'append' && op.cardId){\n      out.push({ json:{ kind:'append', cardId: op.cardId, children: kids(op,ctx,false), subject: op['주제']||'' } });\n    } else {\n      var ptext = '🧩 *[Hub 갱신 제안]* ' + (op['주제']||'') + ' (확정 카드/검토 필요)\\n' + (Array.isArray(op.bullets)?op.bullets:[]).map(function(b){return '• '+b;}).join('\\n') + '\\n사유: ' + (op.reason||'');\n      out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: ptext } });\n    }\n  });\n  screens.forEach(function(sc){\n    var stext = '🎨 *[디자인 마스터 반영 필요]* 화면 ' + (sc['화면']||'') + ' — ' + (sc['변경']||'') + '\\n' + (sc['요약']||'') + (sc.figmaNodeId ? ('\\nFigma node: ' + sc.figmaNodeId) : '') + '\\n(기획: ' + (ctx.title||'') + ')';\n    out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: stext } });\n  });\n  out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: '📚 *[지식 풍부화 완료]* 기획 ' + (ctx.title||'') + '\\n' + (oo.summary||'특이사항 없음') } });\n  out.push({ json:{ kind:'log', pageId: ctx.pageId, summary: clip(oo.summary||'', 500) } });\n}\nreturn out;"
        },
        "position": [
          1260,
          300
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "enrich-switch-001",
        "name": "라우팅",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.kind }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "create"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  }
                },
                "outputKey": "create",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.kind }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "append"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  }
                },
                "outputKey": "append",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.kind }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "slack"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  }
                },
                "outputKey": "slack",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.kind }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "log"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  }
                },
                "outputKey": "log",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          1480,
          300
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "enrich-create-001",
        "name": "카드 생성",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "contentType": "json",
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "jsonBody": "={{ JSON.stringify({ parent: { database_id: $json.parent_db }, properties: $json.properties, children: $json.children }) }}",
          "method": "POST",
          "nodeCredentialType": "notionApi",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "specifyHeaders": "keypair",
          "url": "https://api.notion.com/v1/pages"
        },
        "position": [
          1720,
          120
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "enrich-append-001",
        "name": "카드 보강",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "contentType": "json",
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "jsonBody": "={{ JSON.stringify({ children: $json.children }) }}",
          "method": "PATCH",
          "nodeCredentialType": "notionApi",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "specifyHeaders": "keypair",
          "url": "=https://api.notion.com/v1/blocks/{{ $json.cardId }}/children"
        },
        "position": [
          1720,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "credentials": {
          "slackApi": {
            "id": "bjozecrw9OnFT8Lf",
            "name": "Botmap"
          }
        },
        "id": "enrich-slack-001",
        "name": "Slack 통보",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "contentType": "json",
          "jsonBody": "={{ JSON.stringify({ channel: $json.channelId, thread_ts: ($json.threadTs || undefined), text: $json.text }) }}",
          "method": "POST",
          "nodeCredentialType": "slackApi",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendBody": true,
          "specifyBody": "json",
          "url": "https://slack.com/api/chat.postMessage"
        },
        "position": [
          1720,
          480
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "id": "enrich-logwrite-001",
        "name": "풍부화 로그 기록",
        "parameters": {
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "enriched_at": "={{ $now.toISO() }}",
              "parent_page_id": "={{ $json.pageId }}",
              "summary": "={{ $json.summary }}"
            }
          },
          "dataTableId": {
            "__rl": true,
            "mode": "id",
            "value": "KZccSviFYvgYA9e4"
          },
          "operation": "insert",
          "options": {},
          "resource": "row"
        },
        "position": [
          1720,
          660
        ],
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1
      }
    ],
    "updatedAt": "2026-06-22T05:40:41.137Z",
    "versionId": "becee83f-ffaf-40a5-b321-f3a40f1da786",
    "workflowId": "bPNVUvuHpaograNX",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-22T05:40:41.177Z",
        "event": "deactivated",
        "id": 261,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "becee83f-ffaf-40a5-b321-f3a40f1da786",
        "workflowId": "bPNVUvuHpaograNX"
      },
      {
        "createdAt": "2026-06-22T05:40:41.199Z",
        "event": "activated",
        "id": 262,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "becee83f-ffaf-40a5-b321-f3a40f1da786",
        "workflowId": "bPNVUvuHpaograNX"
      }
    ]
  },
  "activeVersionId": "becee83f-ffaf-40a5-b321-f3a40f1da786",
  "connections": {
    "라우팅": {
      "main": [
        [
          {
            "index": 0,
            "node": "카드 생성",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "카드 보강",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Slack 통보",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "풍부화 로그 기록",
            "type": "main"
          }
        ]
      ]
    },
    "완료 기획 판정": {
      "main": [
        [
          {
            "index": 0,
            "node": "풍부화 에이전트",
            "type": "main"
          }
        ]
      ]
    },
    "작업 분해": {
      "main": [
        [
          {
            "index": 0,
            "node": "라우팅",
            "type": "main"
          }
        ]
      ]
    },
    "파이프라인 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "풍부화 로그 조회",
            "type": "main"
          }
        ]
      ]
    },
    "풍부화 Sonnet": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "풍부화 에이전트",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "풍부화 로그 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "완료 기획 판정",
            "type": "main"
          }
        ]
      ]
    },
    "풍부화 에이전트": {
      "main": [
        [
          {
            "index": 0,
            "node": "작업 분해",
            "type": "main"
          }
        ]
      ]
    },
    "풍부화 파서": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "풍부화 에이전트",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "풍부화 폴링": {
      "main": [
        [
          {
            "index": 0,
            "node": "허브 목록 조회",
            "type": "main"
          }
        ]
      ]
    },
    "허브 목록 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "파이프라인 조회",
            "type": "main"
          }
        ]
      ]
    },
    "허브 카드 읽기": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "풍부화 에이전트",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-19T08:25:14.669Z",
  "description": null,
  "id": "bPNVUvuHpaograNX",
  "isArchived": false,
  "meta": null,
  "name": "Overmind WF-Enrich · 기획 완주 지식 풍부화",
  "nodes": [
    {
      "id": "enrich-poll-001",
      "name": "풍부화 폴링",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "position": [
        -100,
        300
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "enrich-hublist-001",
      "name": "허브 목록 조회",
      "parameters": {
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "3a6975952ad54380bc580901e079a7f7"
        },
        "operation": "getAll",
        "options": {},
        "resource": "databasePage",
        "returnAll": true,
        "simple": false
      },
      "position": [
        120,
        300
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    },
    {
      "id": "enrich-pipe-001",
      "name": "파이프라인 조회",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "16uFko9jgm6gFs0T"
        },
        "filters": {
          "conditions": []
        },
        "matchType": "allConditions",
        "operation": "get",
        "resource": "row",
        "returnAll": true
      },
      "position": [
        340,
        300
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "alwaysOutputData": true,
      "id": "enrich-log-read-001",
      "name": "풍부화 로그 조회",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "KZccSviFYvgYA9e4"
        },
        "filters": {
          "conditions": []
        },
        "matchType": "allConditions",
        "operation": "get",
        "resource": "row",
        "returnAll": true
      },
      "position": [
        560,
        300
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "enrich-judge-001",
      "name": "완료 기획 판정",
      "parameters": {
        "jsCode": "var pipe = $('파이프라인 조회').all().map(function(i){return i.json;});\nvar logRows = $('풍부화 로그 조회').all().map(function(i){return i.json;});\nvar enriched = {};\nlogRows.forEach(function(r){ if(r && r.parent_page_id) enriched[r.parent_page_id]=1; });\nvar cards = $('허브 목록 조회').all().map(function(i){return i.json;});\nvar menuLines = [];\ncards.forEach(function(c){\n  if(!c || !c.properties) return;\n  var p = c.properties;\n  var subj = (p['주제'] && p['주제'].title && p['주제'].title[0]) ? p['주제'].title[0].plain_text : '';\n  if(!subj) return;\n  var area = (p['영역'] && p['영역'].select) ? p['영역'].select.name : '';\n  var tier = (p['계층'] && p['계층'].select) ? p['계층'].select.name : '';\n  var trust = (p['신뢰등급'] && p['신뢰등급'].select) ? p['신뢰등급'].select.name : '';\n  menuLines.push('- [' + area + '/' + tier + '/' + trust + '] ' + subj + ' (id: ' + c.id + ')');\n});\nvar hubMenu = menuLines.join('\\n');\n\nvar byParent = {};\npipe.forEach(function(r){\n  if(!r || !r.parent_page_id) return;\n  if(!byParent[r.parent_page_id]) byParent[r.parent_page_id]=[];\n  byParent[r.parent_page_id].push(r);\n});\nvar out = [];\nObject.keys(byParent).forEach(function(pid){\n  if(enriched[pid]) return;\n  var rows = byParent[pid];\n  if(!rows.length) return;\n  var allCreated = rows.every(function(r){ return r.status !== 'pending'; });\n  if(!allCreated) return;\n  var first = rows[0];\n  var stagesText = rows.map(function(r){ return r.stage + (r.persona ? '(' + r.persona + ')' : ''); }).join(', ');\n  out.push({ json: {\n    pageId: pid,\n    title: first.title || '',\n    brief: first.brief || '',\n    qa: first.qa || '',\n    pipeline: first.pipeline || '',\n    stagesText: stagesText,\n    channelId: first.channel_id || 'C0B9LE2FF36',\n    threadTs: first.thread_ts || '',\n    pageUrl: 'https://www.notion.so/' + String(pid).replace(/-/g, ''),\n    hubMenu: hubMenu\n  }});\n});\nreturn out;"
      },
      "position": [
        780,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "aws": {
          "id": "GftVHJqfxQshQZ4P",
          "name": "AWS (IAM) account"
        }
      },
      "id": "enrich-sonnet-001",
      "name": "풍부화 Sonnet",
      "parameters": {
        "model": "global.anthropic.claude-sonnet-4-6",
        "modelSource": "inferenceProfile",
        "options": {
          "maxTokensToSample": 16000,
          "temperature": 0.2
        }
      },
      "position": [
        900,
        520
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1
    },
    {
      "id": "enrich-parser-001",
      "name": "풍부화 파서",
      "parameters": {
        "jsonSchemaExample": "{\n  \"operations\": [\n    {\n      \"action\": \"create\",\n      \"cardId\": \"\",\n      \"주제\": \"권장 보장금액 산출 규칙\",\n      \"영역\": \"시스템\",\n      \"관련직무\": [\n        \"개발\",\n        \"기획\"\n      ],\n      \"계층\": \"디테일\",\n      \"intro\": \"마이데이터 기반 권장 보장금액 산출의 기준·예외\",\n      \"bullets\": [\n        \"산출 기준: 마이데이터 소득·자산+부양가족 룰\",\n        \"노출: 플래너 앱 권장금액 카드+근거\"\n      ],\n      \"reason\": \"이번 기획에서 새로 확정된 규칙\"\n    }\n  ],\n  \"screen_changes\": [\n    {\n      \"화면\": \"권장 보장금액 결과\",\n      \"변경\": \"신규 추가\",\n      \"요약\": \"권장금액 카드+근거 화면 신설\",\n      \"figmaNodeId\": \"\"\n    }\n  ],\n  \"summary\": \"권장 보장금액 산출 규칙/화면을 Hub에 신규 반영\"\n}"
      },
      "position": [
        1120,
        520
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "enrich-hubread-001",
      "name": "허브 카드 읽기",
      "onError": "continueRegularOutput",
      "parameters": {
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Context Hub 카드의 Notion page id') }}"
        },
        "descriptionType": "manual",
        "operation": "getAll",
        "resource": "block",
        "returnAll": true,
        "toolDescription": "Context Hub 카드 본문을 page id로 읽는다 (append 전 중복 확인용)"
      },
      "position": [
        1280,
        520
      ],
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2
    },
    {
      "id": "enrich-agent-001",
      "name": "풍부화 에이전트",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "maxIterations": 12,
          "returnIntermediateSteps": false,
          "systemMessage": "=당신은 보맵 프로덕트팀의 '지식 큐레이터'입니다. 방금 끝까지 진행된(미결 결정 완료 + 단계 태스크 모두 생성된) 기획 하나를 받아, 앞으로의 기획·작업에 두고두고 도움될 '재사용 가능한 지식'만 추려 Context Hub를 풍부화합니다.\n\n# 기존 Context Hub 카드 메뉴(주제/영역/계층/신뢰등급/id)\n{{ $json.hubMenu }}\n\n# 도구\n- \"허브 카드 읽기\": 위 메뉴의 카드 본문을 id로 읽어 이미 있는 내용인지/무엇을 보탤지 확인. append 전에 반드시 대상 카드를 읽어 중복을 피하라.\n\n# 판단 규칙\n- 추출 대상: 영구적이고 재사용 가능한 지식만 — 새로 정해진 규칙·정책, 새 화면/플로우, 새 알림톡 유형, 시스템/연동 변경, 도메인 용어·결정. 일회성·사소·이번 기획에만 의미 있는 건 제외.\n- 추측 금지: 위 브리프·Q&A에 명확히 근거한 것만. 모르면 넣지 마라.\n- 중복 방지(upsert): 메뉴에 이미 같은 주제 카드가 있으면 action=\"append\"(그 카드 id에 보탤 핵심만), 없으면 action=\"create\"(새 카드).\n- 확정 카드 보호: 신뢰등급이 '확정'인 카드는 절대 덮어쓰지 마라 — 바꿀 게 있으면 action=\"propose\"(사람에게 제안만).\n- 카드 본문은 마크다운 말고 짧은 한국어 불릿(bullets)으로. intro는 create 시 한 줄 개요.\n- 영역 ∈ [제품·디자인·시스템·규제·결정로그], 계층 ∈ [핵심·디테일](대부분 디테일), 관련직무는 해당 직무들.\n- 화면 변경: 새 화면 추가/기존 화면 영구 수정이 브리프에 있으면 screen_changes에 기록(디자이너 핸드오프용). figmaNodeId 모르면 비워라.\n- 정말 풍부화할 게 없으면 operations=[] 로 두고 summary에 '특이사항 없음'.\n\n반드시 지정 JSON 스키마로만 답하세요(앞뒤 설명/펜스 금지)."
        },
        "promptType": "define",
        "text": "=기획: {{ $json.title }}\npage id: {{ $json.pageId }}\n\n정리된 브리프:\n{{ $json.brief }}\n\n질문·답변(결정된 사실):\n{{ $json.qa }}\n\n생성된 단계: {{ $json.stagesText }} / 파이프라인: {{ $json.pipeline }}"
      },
      "position": [
        1020,
        300
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "id": "enrich-split-001",
      "name": "작업 분해",
      "parameters": {
        "jsCode": "var agentOuts = $('풍부화 에이전트').all();\nvar ctxs = $('완료 기획 판정').all();\nvar locked = {};\n$('허브 목록 조회').all().forEach(function(it){\n  var p = it.json && it.json.properties;\n  if(p && p['신뢰등급'] && p['신뢰등급'].select && p['신뢰등급'].select.name === '확정' && it.json.id) locked[it.json.id]=1;\n});\nvar now = $now.toFormat('yyyy-LL-dd');\nvar HUB_DB = '3a6975952ad54380bc580901e079a7f7';\n\nfunction clip(s,n){ s = (s==null)?'':String(s); return s.length>n ? s.slice(0,n) : s; }\nfunction rtxt(t){ return [{ type:'text', text:{ content: clip(t,1900) } }]; }\nfunction para(t){ return { object:'block', type:'paragraph', paragraph:{ rich_text: rtxt(t) } }; }\nfunction bullet(t){ return { object:'block', type:'bulleted_list_item', bulleted_list_item:{ rich_text: rtxt(t) } }; }\nfunction h3(t){ return { object:'block', type:'heading_3', heading_3:{ rich_text: rtxt(t) } }; }\nfunction props(op, ctx){\n  var roles = Array.isArray(op['관련직무']) ? op['관련직무'] : [];\n  var o = {};\n  o['주제'] = { title: [{ text:{ content: clip(op['주제']||'무제',200) } }] };\n  if(op['영역']) o['영역'] = { select:{ name: op['영역'] } };\n  o['관련 직무'] = { multi_select: roles.map(function(r){ return { name:r }; }) };\n  if(op['계층']) o['계층'] = { select:{ name: op['계층'] } };\n  o['신뢰등급'] = { select:{ name:'AI추가' } };\n  if(ctx.pageUrl) o['출처'] = { url: ctx.pageUrl };\n  return o;\n}\nfunction kids(op, ctx, isCreate){\n  var arr = [];\n  if(isCreate){ if(op.intro) arr.push(para(op.intro)); }\n  else { arr.push(h3('🤖 보강 — ' + now + ' (기획: ' + clip(ctx.title,60) + ')')); }\n  (Array.isArray(op.bullets)?op.bullets:[]).forEach(function(b){ arr.push(bullet(b)); });\n  if(isCreate) arr.push(para('출처: ' + (ctx.pageUrl||'') + ' · 자동 풍부화(AI추가)'));\n  return arr.slice(0,90);\n}\n\nvar out = [];\nfor(var i=0;i<agentOuts.length;i++){\n  var oo = (agentOuts[i].json && agentOuts[i].json.output) ? agentOuts[i].json.output : {};\n  var ctx = (ctxs[i] && ctxs[i].json) ? ctxs[i].json : {};\n  var ops = Array.isArray(oo.operations) ? oo.operations : [];\n  var screens = Array.isArray(oo.screen_changes) ? oo.screen_changes : [];\n  ops.forEach(function(op){\n    var action = op.action;\n    if(action === 'append' && op.cardId && locked[op.cardId]) action = 'propose';\n    if(action === 'create'){\n      out.push({ json:{ kind:'create', parent_db:HUB_DB, properties: props(op,ctx), children: kids(op,ctx,true), subject: op['주제']||'' } });\n    } else if(action === 'append' && op.cardId){\n      out.push({ json:{ kind:'append', cardId: op.cardId, children: kids(op,ctx,false), subject: op['주제']||'' } });\n    } else {\n      var ptext = '🧩 *[Hub 갱신 제안]* ' + (op['주제']||'') + ' (확정 카드/검토 필요)\\n' + (Array.isArray(op.bullets)?op.bullets:[]).map(function(b){return '• '+b;}).join('\\n') + '\\n사유: ' + (op.reason||'');\n      out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: ptext } });\n    }\n  });\n  screens.forEach(function(sc){\n    var stext = '🎨 *[디자인 마스터 반영 필요]* 화면 ' + (sc['화면']||'') + ' — ' + (sc['변경']||'') + '\\n' + (sc['요약']||'') + (sc.figmaNodeId ? ('\\nFigma node: ' + sc.figmaNodeId) : '') + '\\n(기획: ' + (ctx.title||'') + ')';\n    out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: stext } });\n  });\n  out.push({ json:{ kind:'slack', channelId: ctx.channelId, threadTs: ctx.threadTs, text: '📚 *[지식 풍부화 완료]* 기획 ' + (ctx.title||'') + '\\n' + (oo.summary||'특이사항 없음') } });\n  out.push({ json:{ kind:'log', pageId: ctx.pageId, summary: clip(oo.summary||'', 500) } });\n}\nreturn out;"
      },
      "position": [
        1260,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "enrich-switch-001",
      "name": "라우팅",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "create"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "outputKey": "create",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "append"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "outputKey": "append",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "slack"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "outputKey": "slack",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "log"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "outputKey": "log",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1480,
        300
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "enrich-create-001",
      "name": "카드 생성",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: $json.parent_db }, properties: $json.properties, children: $json.children }) }}",
        "method": "POST",
        "nodeCredentialType": "notionApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "keypair",
        "url": "https://api.notion.com/v1/pages"
      },
      "position": [
        1720,
        120
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "enrich-append-001",
      "name": "카드 보강",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ children: $json.children }) }}",
        "method": "PATCH",
        "nodeCredentialType": "notionApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "keypair",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.cardId }}/children"
      },
      "position": [
        1720,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "slackApi": {
          "id": "bjozecrw9OnFT8Lf",
          "name": "Botmap"
        }
      },
      "id": "enrich-slack-001",
      "name": "Slack 통보",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channelId, thread_ts: ($json.threadTs || undefined), text: $json.text }) }}",
        "method": "POST",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://slack.com/api/chat.postMessage"
      },
      "position": [
        1720,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "enrich-logwrite-001",
      "name": "풍부화 로그 기록",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enriched_at": "={{ $now.toISO() }}",
            "parent_page_id": "={{ $json.pageId }}",
            "summary": "={{ $json.summary }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "KZccSviFYvgYA9e4"
        },
        "operation": "insert",
        "options": {},
        "resource": "row"
      },
      "position": [
        1720,
        660
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-19T08:25:14.669Z",
      "project": {
        "createdAt": "2026-05-27T07:22:23.960Z",
        "creatorId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "description": null,
        "icon": null,
        "id": "501Q7eGEKoHjxZfp",
        "name": "재은 김 <justin@bomapp.co.kr>",
        "type": "personal",
        "updatedAt": "2026-05-27T07:24:05.558Z"
      },
      "projectId": "501Q7eGEKoHjxZfp",
      "role": "workflow:owner",
      "updatedAt": "2026-06-19T08:25:14.669Z",
      "workflowId": "bPNVUvuHpaograNX"
    }
  ],
  "staticData": {
    "node:풍부화 폴링": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-22T05:40:41.135Z",
  "versionCounter": 7,
  "versionId": "becee83f-ffaf-40a5-b321-f3a40f1da786"
}
