n8n/workflows/wf3-handoff.json
{
  "active": true,
  "activeVersion": {
    "authors": "재은 김",
    "autosaved": false,
    "connections": {
      "WF3 시작": {
        "main": [
          [
            {
              "index": 0,
              "node": "스테이지·페르소나 결정",
              "type": "main"
            }
          ]
        ]
      },
      "본문 청크": {
        "main": [
          [
            {
              "index": 0,
              "node": "본문 추가",
              "type": "main"
            }
          ]
        ]
      },
      "본문 추가": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 통보 메시지",
              "type": "main"
            }
          ]
        ]
      },
      "서브태스크 생성": {
        "main": [
          [
            {
              "index": 0,
              "node": "본문 청크",
              "type": "main"
            }
          ]
        ]
      },
      "스테이지·페르소나 결정": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 허브 조회",
              "type": "main"
            }
          ]
        ]
      },
      "착수 Figma 조회": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "착수 Hub 읽기": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "착수 Sonnet": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "착수 카드 메뉴": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 컨텍스트",
              "type": "main"
            }
          ]
        ]
      },
      "착수 컨텍스트": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "main"
            }
          ]
        ]
      },
      "착수 통보 메시지": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 통보",
              "type": "main"
            }
          ]
        ]
      },
      "착수 파서": {
        "ai_outputParser": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_outputParser"
            }
          ]
        ]
      },
      "착수 허브 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 카드 메뉴",
              "type": "main"
            }
          ]
        ]
      },
      "착수준비 게이트": {
        "main": [
          [
            {
              "index": 0,
              "node": "서브태스크 생성",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-06-18T02:29:03.196Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "787909b4-d4d1-46cc-b3bc-6b9f465b1e10",
        "name": "WF3 시작",
        "parameters": {
          "httpMethod": "POST",
          "options": {
            "noResponseBody": true
          },
          "path": "wf3-handoff"
        },
        "position": [
          0,
          112
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "3e2e471b-5c7d-4d65-a7b4-00313a33231d"
      },
      {
        "id": "d4929ee7-3eb0-46dd-b7b2-f8403f4eaa50",
        "name": "스테이지·페르소나 결정",
        "parameters": {
          "jsCode": "const ri=$json.body||$json;const roles=ri.roles||[];const ORDER=['리서치','디자인','개발','QA','마케팅'];const P={'리서치':'UX 리서처','디자인':'시니어 프로덕트 디자이너','개발':'시니어 소프트웨어 개발자','QA':'QA 엔지니어','마케팅':'그로스 마케터'};const norm=roles.map(function(r){return String(r).split('/')[0].trim();});const ordered=ORDER.filter(function(s){return norm.indexOf(s)!==-1;});const first=ordered.length?ordered[0]:(norm[0]||'개발');return [{json:{stage:first,persona:(P[first]||first+' 담당자'),pipeline:ordered.join(' → '),pageId:ri.pageId,title:ri.title,threadTs:ri.threadTs,channelId:ri.channelId,brief:ri.brief,qa:ri.qa}}];"
        },
        "position": [
          224,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "67226555-05c6-4151-a51a-c602bbbd3a15",
        "name": "착수 허브 조회",
        "parameters": {
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "3a6975952ad54380bc580901e079a7f7"
          },
          "operation": "getAll",
          "options": {},
          "resource": "databasePage",
          "returnAll": true,
          "simple": false
        },
        "position": [
          448,
          112
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      },
      {
        "id": "f28237f8-b99f-42c8-ac1c-b2a65063a1da",
        "name": "착수 카드 메뉴",
        "parameters": {
          "jsCode": "const all=$('착수 허브 조회').all();const menu=all.map(function(c){var p=c.json.properties||{};var s=(p.주제&&p.주제.title&&p.주제.title[0])?p.주제.title[0].plain_text:'';var a=(p.영역&&p.영역.select)?p.영역.select.name:'';var t=(p.계층&&p.계층.select)?p.계층.select.name:'';return s?('- ['+s+'] 영역:'+a+' / '+t+' / id:'+c.json.id):'';}).filter(Boolean).join('\\n');return [{json:{menu:menu}}];"
        },
        "position": [
          672,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "cc9858c5-6ed5-4c12-87f3-34bafeb3cbba",
        "name": "착수 컨텍스트",
        "parameters": {
          "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const wh=$('WF3 시작').first().json.body||{};return [{json:{stage:st.stage,persona:st.persona,pipeline:st.pipeline,title:st.title,pageId:st.pageId,brief:st.brief,channelId:st.channelId,threadTs:st.threadTs,qa:wh.qa||'',menu:$('착수 카드 메뉴').first().json.menu}}];"
        },
        "position": [
          896,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "9c9d17bc-90be-41df-93af-5b52fde98446",
        "name": "착수준비 게이트",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=당신은 {{ $json.persona }} 입니다. 통과된 기획을 받아, 이 단계 실무자가 무엇을 어떻게 해야 하는지 바로 착수할 수 있을 만큼 구체적이고 실행가능한 작업 지시서(brief, 마크다운)를 작성합니다.\n\n# 활용 지식/도구\n- 컨텍스트 카드 메뉴(주제/영역/계층/id):\n{{ $json.menu }}\n- 도구 \"착수 Hub 읽기\": Context Hub 카드 또는 기획 태스크 본문을 Notion page id로 읽음. 디자인 작업이면 메뉴에서 디자인 시스템·디자인 토큰·디자인 컴포넌트 카탈로그 카드를 반드시 읽어 실제 컴포넌트명·토큰·화면(Figma node id)을 확인하세요. 기획 page id로 기획 본문도 읽을 수 있습니다.\n- 도구 \"착수 Figma 조회\": 디자인 카드에 적힌 Figma node id(예 11095:53827)를 넣어 실제 화면/컴포넌트 구조를 조회·검증. 디자인 작업이면 화면 링크를 쓰기 전에 이 도구로 node를 확인하세요. 디자인 무관이면 호출 금지.\\n- Figma 화면 링크는 확인한 node id로 구성: https://www.figma.com/file/3Ifh58l7EWLXapWRys0vjf/?node-id=<id>.\n원칙: 추측하지 말고 Hub 카드로 확인해 근거 있게 쓰세요. 정보 부족하면 결정 사항에 남기세요.\n\n# 출력 형식(단계별)\n공통: 마지막에 ## 결정 사항 — 사람 판단이 필요한 것만(없으면 없음). 일정·소요시간 추정 금지. 이미 Q&A로 결정된 것 재나열 금지. 착수 전 체크리스트/착수 계획 섹션 만들지 말 것.\n[디자인] ## 작업 개요 / ## 화면별 작업(화면마다 구체 변경+가능하면 Figma 링크, 없으면 ## 와이어프레임(ASCII)) / ## 인터랙션 & 플로우([버튼]→다음 화면, DS 컴포넌트명, 크기).\n[개발] ## 작업 개요 / ## 구현 항목 / ## 예외·엣지 / ## 의존성.\n[QA] ## 작업 개요 / ## 인수 기준 / ## 테스트 시나리오.\nsummary는 슬랙 통보용 1줄. 반드시 지정 JSON 스키마로만 답하세요."
          },
          "promptType": "define",
          "text": "=직무: {{ $json.persona }} / 단계: {{ $json.stage }}\n제목: {{ $json.title }}\n기획 page id: {{ $json.pageId }}\n\n정리된 기획 브리프:\n{{ $json.brief }}\n\n기획 단계 질문·답변(이미 결정된 사실):\n{{ $json.qa }}"
        },
        "position": [
          1184,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1
      },
      {
        "credentials": {
          "aws": {
            "id": "GftVHJqfxQshQZ4P",
            "name": "AWS (IAM) account"
          }
        },
        "id": "df69cf3e-47d4-47a0-b499-afc890cc5dea",
        "name": "착수 Sonnet",
        "parameters": {
          "model": "global.anthropic.claude-sonnet-4-6",
          "modelSource": "inferenceProfile",
          "options": {
            "maxTokensToSample": 8000,
            "temperature": 0.2
          }
        },
        "position": [
          1120,
          336
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
        "typeVersion": 1.1
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "e77048bb-b3f7-471d-b794-9d37357a7bf4",
        "name": "착수 Hub 읽기",
        "parameters": {
          "blockId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Notion page id (메뉴의 카드 id 또는 기획 page id)') }}"
          },
          "descriptionType": "manual",
          "operation": "getAll",
          "resource": "block",
          "returnAll": true,
          "toolDescription": "Context Hub 카드나 기획 태스크 본문을 Notion page id로 읽는다"
        },
        "position": [
          1248,
          336
        ],
        "type": "n8n-nodes-base.notionTool",
        "typeVersion": 2.2
      },
      {
        "id": "3dd6841e-248a-4edb-82ba-e37e348cd394",
        "name": "착수 파서",
        "parameters": {
          "jsonSchemaExample": "{ \"brief\": \"## 작업 개요\\n...\\n## 결정 사항\\n- (사람 판단 필요, 없으면 없음)\", \"summary\": \"슬랙 통보용 1줄\" }"
        },
        "position": [
          1376,
          336
        ],
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "08bf7fad-683b-49da-942c-1d7c65beedbe",
        "name": "서브태스크 생성",
        "parameters": {
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "fd91ec8d-1025-4439-9d56-71af49eecac2"
          },
          "operation": "create",
          "options": {},
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "타입|select",
                "selectValue": "={{ $('스테이지·페르소나 결정').first().json.stage }}"
              },
              {
                "key": "관계된 ✅ TASK|relation",
                "relationValue": [
                  "={{ $('스테이지·페르소나 결정').first().json.pageId }}"
                ]
              }
            ]
          },
          "resource": "databasePage",
          "title": "=[{{ $('스테이지·페르소나 결정').first().json.stage }}] {{ $('스테이지·페르소나 결정').first().json.title }}"
        },
        "position": [
          1584,
          112
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      },
      {
        "id": "dc28234e-a315-4714-a9bf-a47021e045a4",
        "name": "착수 통보 메시지",
        "parameters": {
          "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const out=$('착수준비 게이트').first().json.output||{};const sub=$('서브태스크 생성').first().json;const url=(sub&&sub.url)?sub.url:'';const text='[' + st.stage + '] 착수 준비가 생성됐어요 — '+st.persona+' 관점\\n파이프라인: '+(st.pipeline||st.stage)+'\\n'+(out.summary||'')+(url?('\\n서브태스크: '+url):'');return [{json:{body:{channel:st.channelId,thread_ts:st.threadTs,text:text}}}];"
        },
        "position": [
          2200,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "slackApi": {
            "id": "bjozecrw9OnFT8Lf",
            "name": "Botmap"
          }
        },
        "id": "edc36d91-eae1-49f9-8577-a40af0ee8a27",
        "name": "착수 통보",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "jsonBody": "={{ $json.body }}",
          "method": "POST",
          "nodeCredentialType": "slackApi",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendBody": true,
          "specifyBody": "json",
          "url": "https://slack.com/api/chat.postMessage"
        },
        "position": [
          2420,
          112
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "id": "71462b87-ea0d-4d5b-ba1d-4e0265947247",
        "name": "착수 Figma 조회",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "method": "GET",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ids', '조회할 Figma node id (예 11095:53827). 여러 개면 콤마 구분', 'string') }}"
              },
              {
                "name": "depth",
                "value": "1"
              }
            ]
          },
          "sendQuery": true,
          "specifyQuery": "keypair",
          "toolDescription": "Figma 파일의 특정 node id 구조를 조회(디자인 건만)",
          "url": "https://api.figma.com/v1/files/3Ifh58l7EWLXapWRys0vjf/nodes"
        },
        "position": [
          1480,
          336
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "id": "c7942cb9-51cc-45c0-a4da-f2cbaaf4b9ab",
        "name": "본문 청크",
        "parameters": {
          "jsCode": "const brief=(($('착수준비 게이트').first().json.output)||{}).brief||'';const pageId=$('서브태스크 생성').first().json.id;const MAX=1900;const lines=brief.split('\\n');const chunks=[];let cur='';for(let k=0;k<lines.length;k++){const ln=lines[k];const piece=cur?(cur+'\\n'+ln):ln;if(piece.length>MAX){if(cur){chunks.push(cur);cur='';}if(ln.length>MAX){for(let i=0;i<ln.length;i+=MAX)chunks.push(ln.slice(i,i+MAX));cur='';}else{cur=ln;}}else{cur=piece;}}if(cur)chunks.push(cur);if(!chunks.length)chunks.push('(본문 없음)');return chunks.map(function(c){return {json:{pageId:pageId,text:c}};});"
        },
        "position": [
          1760,
          320
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "beadbe04-7763-4466-a0c8-e6fcf922bd5b",
        "name": "본문 추가",
        "parameters": {
          "blockId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.pageId }}"
          },
          "blockUi": {
            "blockValues": [
              {
                "textContent": "={{ $json.text }}",
                "type": "paragraph"
              }
            ]
          },
          "operation": "append",
          "options": {},
          "resource": "block"
        },
        "position": [
          1960,
          320
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      }
    ],
    "updatedAt": "2026-06-18T02:29:03.196Z",
    "versionId": "28098854-3c6b-44d2-b907-43bef5a57916",
    "workflowId": "m6YGNNCEP5RI3SSF",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-18T02:29:03.243Z",
        "event": "deactivated",
        "id": 84,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "28098854-3c6b-44d2-b907-43bef5a57916",
        "workflowId": "m6YGNNCEP5RI3SSF"
      },
      {
        "createdAt": "2026-06-18T02:29:03.262Z",
        "event": "activated",
        "id": 85,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "28098854-3c6b-44d2-b907-43bef5a57916",
        "workflowId": "m6YGNNCEP5RI3SSF"
      }
    ]
  },
  "activeVersionId": "28098854-3c6b-44d2-b907-43bef5a57916",
  "connections": {
    "WF3 시작": {
      "main": [
        [
          {
            "index": 0,
            "node": "스테이지·페르소나 결정",
            "type": "main"
          }
        ]
      ]
    },
    "본문 청크": {
      "main": [
        [
          {
            "index": 0,
            "node": "본문 추가",
            "type": "main"
          }
        ]
      ]
    },
    "본문 추가": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 통보 메시지",
            "type": "main"
          }
        ]
      ]
    },
    "서브태스크 생성": {
      "main": [
        [
          {
            "index": 0,
            "node": "본문 청크",
            "type": "main"
          }
        ]
      ]
    },
    "스테이지·페르소나 결정": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 허브 조회",
            "type": "main"
          }
        ]
      ]
    },
    "착수 Figma 조회": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "착수 Hub 읽기": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "착수 Sonnet": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "착수 카드 메뉴": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 컨텍스트",
            "type": "main"
          }
        ]
      ]
    },
    "착수 컨텍스트": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "main"
          }
        ]
      ]
    },
    "착수 통보 메시지": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 통보",
            "type": "main"
          }
        ]
      ]
    },
    "착수 파서": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "착수 허브 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 카드 메뉴",
            "type": "main"
          }
        ]
      ]
    },
    "착수준비 게이트": {
      "main": [
        [
          {
            "index": 0,
            "node": "서브태스크 생성",
            "type": "main"
          }
        ]
      ]
    },
    "GitLab Search": {
      "ai_tool": [
        [
          {
            "node": "착수준비 게이트",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab File": {
      "ai_tool": [
        [
          {
            "node": "착수준비 게이트",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-17T10:39:41.650Z",
  "description": "WF2 통과 시 호출되는 다음 단계 태스크 생성기. 웹훅 수신→스테이지 결정→Context Hub 로드→에이전트형 착수준비 게이트(Sonnet+파서+Hub툴)가 디자인/개발 스펙 작성→서브태스크 생성(본문)→Slack 통보.",
  "id": "m6YGNNCEP5RI3SSF",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Overmind WF3 · 다음 단계 태스크 생성",
  "nodes": [
    {
      "id": "787909b4-d4d1-46cc-b3bc-6b9f465b1e10",
      "name": "WF3 시작",
      "parameters": {
        "httpMethod": "POST",
        "options": {
          "noResponseBody": true
        },
        "path": "wf3-handoff"
      },
      "position": [
        0,
        112
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "3e2e471b-5c7d-4d65-a7b4-00313a33231d"
    },
    {
      "id": "d4929ee7-3eb0-46dd-b7b2-f8403f4eaa50",
      "name": "스테이지·페르소나 결정",
      "parameters": {
        "jsCode": "const ri=$json.body||$json;const roles=ri.roles||[];const ORDER=['리서치','디자인','개발','QA','마케팅'];const P={'리서치':'UX 리서처','디자인':'시니어 프로덕트 디자이너','개발':'시니어 소프트웨어 개발자','QA':'QA 엔지니어','마케팅':'그로스 마케터'};const norm=roles.map(function(r){return String(r).split('/')[0].trim();});const ordered=ORDER.filter(function(s){return norm.indexOf(s)!==-1;});const first=ordered.length?ordered[0]:(norm[0]||'개발');return [{json:{stage:first,persona:(P[first]||first+' 담당자'),pipeline:ordered.join(' → '),pageId:ri.pageId,title:ri.title,threadTs:ri.threadTs,channelId:ri.channelId,brief:ri.brief,qa:ri.qa}}];"
      },
      "position": [
        224,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "67226555-05c6-4151-a51a-c602bbbd3a15",
      "name": "착수 허브 조회",
      "parameters": {
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "3a6975952ad54380bc580901e079a7f7"
        },
        "operation": "getAll",
        "options": {},
        "resource": "databasePage",
        "returnAll": true,
        "simple": false
      },
      "position": [
        448,
        112
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    },
    {
      "id": "f28237f8-b99f-42c8-ac1c-b2a65063a1da",
      "name": "착수 카드 메뉴",
      "parameters": {
        "jsCode": "const all=$('착수 허브 조회').all();const menu=all.map(function(c){var p=c.json.properties||{};var s=(p.주제&&p.주제.title&&p.주제.title[0])?p.주제.title[0].plain_text:'';var a=(p.영역&&p.영역.select)?p.영역.select.name:'';var t=(p.계층&&p.계층.select)?p.계층.select.name:'';return s?('- ['+s+'] 영역:'+a+' / '+t+' / id:'+c.json.id):'';}).filter(Boolean).join('\\n');return [{json:{menu:menu}}];"
      },
      "position": [
        672,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "cc9858c5-6ed5-4c12-87f3-34bafeb3cbba",
      "name": "착수 컨텍스트",
      "parameters": {
        "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const wh=$('WF3 시작').first().json.body||{};return [{json:{stage:st.stage,persona:st.persona,pipeline:st.pipeline,title:st.title,pageId:st.pageId,brief:st.brief,channelId:st.channelId,threadTs:st.threadTs,qa:wh.qa||'',menu:$('착수 카드 메뉴').first().json.menu}}];"
      },
      "position": [
        896,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9c9d17bc-90be-41df-93af-5b52fde98446",
      "name": "착수준비 게이트",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=당신은 {{ $json.persona }} 입니다. 통과된 기획을 받아, 이 단계 실무자가 무엇을 어떻게 해야 하는지 바로 착수할 수 있을 만큼 구체적이고 실행가능한 작업 지시서(brief, 마크다운)를 작성합니다. ⚠️ 과업의 실제 내용은 아래 '정리된 기획 브리프'와 Q&A를 기준으로 해석하라 — 제목은 식별용 라벨일 뿐이니 제목 속 단어를 기능 요구사항으로 곧이곧대로 옮기거나 화면/섹션 이름으로 베끼지 말 것.\n\n# 활용 지식/도구\n- 컨텍스트 카드 메뉴(주제/영역/계층/id):\n{{ $json.menu }}\n- 도구 \"착수 Hub 읽기\": **메뉴에 있는 Context Hub 카드**를 그 카드 id로 읽음. 디자인 작업이면 메뉴에서 디자인 시스템·디자인 토큰·디자인 컴포넌트 카탈로그 카드를 반드시 읽어 실제 컴포넌트명·토큰·화면(Figma node id)을 확인하세요. ⚠️ 기획 맥락은 위 brief에 이미 정리돼 있으니 **기획 page id를 이 툴로 읽지 말 것**(통합 공유 밖이라 실패). cardId 는 반드시 메뉴의 카드 id 만 사용.\n- 도구 \"착수 Figma 조회\": Figma node 구조 조회(fileKey + node id). 보맵 앱 컴포넌트·토큰·전 화면이 모두 BDS 파일 3Ifh58l7EWLXapWRys0vjf 에 있음 — 특히 화면취합 노드 11095-53827 에 5탭 전 화면이 취합됨(화면 참조는 이 노드). ⚠️ 단 이 화면들은 캡처 이미지라 node 구조(JSON)로는 화면 내용 파악이 제한적이다(이미지 자체는 못 봄) — 어떤 화면이 이 태스크의 대상/참조인지 확신이 없으면 추측으로 단정하지 말고 결정사항에 '대상 화면(node id) 확인 필요'로 남겨라. 태스크에 Figma 링크(node-id)가 있으면 1순위. 큰 노드는 응답이 잘리니 구체 node로 좁혀 조회. 디자인 무관이면 호출 금지.\n- 도구 \"GitLab Search\"(코드검색)/\"GitLab File\"(파일읽기): 코드·문서를 GitLab에서 직접 조회(개발/QA 스펙, 또는 디자인 마스터 없는 앱은 코드로 확인). projectId=`bomapp%2F<레포명>`(예 bomapp%2Fnext-backend); 서비스↔레포 매핑·docs는 `bomapp%2Fovermind`의 services.yaml/docs 에서 파악. ref=대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master. 파일경로는 URL-encode(슬래시 %2F). 검색으로 관련 파일 찾고→파일 읽기로 내용 확인. 불필요하면 호출 금지.\\n- Figma 화면 링크는 확인한 node id로 구성: https://www.figma.com/file/3Ifh58l7EWLXapWRys0vjf/?node-id=<id>.\n원칙: 추측하지 말고 Hub 카드로 확인해 근거 있게 쓰세요. 정보 부족하면 결정 사항에 남기세요.\n\n# 출력 형식(단계별)\n공통: 마지막에 ## 결정 사항 — 사람 판단이 필요한 것만(없으면 없음). 일정·소요시간 추정 금지. 이미 Q&A로 결정된 것 재나열 금지. 착수 전 체크리스트/착수 계획 섹션 만들지 말 것. **헤더는 ###(h3)까지만 사용 — #### 이상 금지(Notion 미지원).**\n[디자인] ## 작업 개요 / ## 화면별 작업(화면마다 '무엇을 만들/바꿀지'와 적합한 **BDS 패턴·컴포넌트·디자인 토큰을 이름/id로 '제안'**. 기존 화면 있으면 Figma 링크, 없으면 ## 와이어프레임(ASCII) 레이아웃 안) / ## 인터랙션 & 플로우([버튼/요소]→다음 화면·동작 + 쓰면 좋을 DS 컴포넌트 제안). ⚠️ **디자인 디테일(정확한 px·색상값·간격·radius 등)은 디자이너의 창의 영역 — 단정해 지시하지 말 것.** 어떤 패턴/템플릿/컴포넌트/토큰을 쓰면 좋겠다는 '제안'에 그쳐라. 굳이 수치·색을 적고 싶으면 반드시 '(제안)'이라고 명시해 디자이너가 자유롭게 판단하게 한다.\n[개발] ## 작업 개요 / ## 구현 항목 / ## 예외·엣지 / ## 의존성.\n[QA] ## 작업 개요 / ## 인수 기준 / ## 테스트 시나리오.\n작업 지시서(brief, 마크다운)를 화면별 작업·인터랙션·DS 컴포넌트/토큰·결정사항까지 **가능한 한 구체적이고 풍부하게** 작성한다. summary는 슬랙 통보용 1줄. process에는 어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단을 기록한다. 반드시 지정 JSON 스키마로만 답하세요.",
          "returnIntermediateSteps": true
        },
        "promptType": "define",
        "text": "=직무: {{ $json.persona }} / 단계: {{ $json.stage }}\n제목: {{ $json.title }}\n기획 page id: {{ $json.pageId }}\n\n정리된 기획 브리프:\n{{ $json.brief }}\n\n기획 단계 질문·답변(이미 결정된 사실):\n{{ $json.qa }}"
      },
      "position": [
        1184,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "credentials": {
        "aws": {
          "id": "GftVHJqfxQshQZ4P",
          "name": "AWS (IAM) account"
        }
      },
      "id": "df69cf3e-47d4-47a0-b499-afc890cc5dea",
      "name": "착수 Sonnet",
      "parameters": {
        "model": "global.anthropic.claude-sonnet-4-6",
        "modelSource": "inferenceProfile",
        "options": {
          "maxTokensToSample": 20000,
          "temperature": 0.2
        }
      },
      "position": [
        1120,
        336
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "e77048bb-b3f7-471d-b794-9d37357a7bf4",
      "name": "착수 Hub 읽기",
      "parameters": {
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Notion page id (메뉴의 카드 id 또는 기획 page id)') }}"
        },
        "descriptionType": "manual",
        "operation": "getAll",
        "resource": "block",
        "returnAll": true,
        "toolDescription": "Context Hub 카드나 기획 태스크 본문을 Notion page id로 읽는다"
      },
      "position": [
        1248,
        336
      ],
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "3dd6841e-248a-4edb-82ba-e37e348cd394",
      "name": "착수 파서",
      "parameters": {
        "jsonSchemaExample": "{ \"brief\": \"## 작업 개요\\n...\\n## 결정 사항\\n- (사람 판단 필요, 없으면 없음)\", \"summary\": \"슬랙 통보용 1줄\", \"process\": \"어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단 기록(간결, brief 품질을 해치지 않는 선에서)\" }"
      },
      "position": [
        1376,
        336
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "08bf7fad-683b-49da-942c-1d7c65beedbe",
      "name": "서브태스크 생성",
      "parameters": {
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "fd91ec8d-1025-4439-9d56-71af49eecac2"
        },
        "operation": "create",
        "options": {},
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "타입|select",
              "selectValue": "={{ $('스테이지·페르소나 결정').first().json.stage }}"
            },
            {
              "key": "관계된 ✅ TASK|relation",
              "relationValue": [
                "={{ $('스테이지·페르소나 결정').first().json.pageId }}"
              ]
            }
          ]
        },
        "resource": "databasePage",
        "title": "=[{{ $('스테이지·페르소나 결정').first().json.stage }}] {{ $('스테이지·페르소나 결정').first().json.title }}"
      },
      "position": [
        1584,
        112
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    },
    {
      "id": "dc28234e-a315-4714-a9bf-a47021e045a4",
      "name": "착수 통보 메시지",
      "parameters": {
        "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const out=$('착수준비 게이트').first().json.output||{};const sub=$('서브태스크 생성').first().json;const url=(sub&&sub.url)?sub.url:'';const text='[' + st.stage + '] 착수 준비가 생성됐어요 — '+st.persona+' 관점\\n파이프라인: '+(st.pipeline||st.stage)+'\\n'+(out.summary||'')+(url?('\\n서브태스크: '+url):'');return [{json:{body:{channel:st.channelId,thread_ts:st.threadTs,text:text}}}];"
      },
      "position": [
        2200,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "slackApi": {
          "id": "bjozecrw9OnFT8Lf",
          "name": "Botmap"
        }
      },
      "id": "edc36d91-eae1-49f9-8577-a40af0ee8a27",
      "name": "착수 통보",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "jsonBody": "={{ $json.body }}",
        "method": "POST",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://slack.com/api/chat.postMessage"
      },
      "position": [
        2420,
        112
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "71462b87-ea0d-4d5b-ba1d-4e0265947247",
      "name": "착수 Figma 조회",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ids', '조회할 Figma node id (예 11095:53827). 여러 개면 콤마 구분', 'string') }}"
            },
            {
              "name": "depth",
              "value": "1"
            }
          ]
        },
        "sendQuery": true,
        "specifyQuery": "keypair",
        "toolDescription": "Figma 파일의 특정 node id 구조를 조회(디자인 건만)",
        "url": "=https://api.figma.com/v1/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fileKey', '조회할 Figma 파일 key (figma.com/design/<KEY>/... 의 KEY). DS 컴포넌트·토큰·화면취합 개요는 3Ifh58l7EWLXapWRys0vjf, 기능별 실제 화면은 태스크/Hub 카드에 링크된 파일 키 사용', 'string') }}/nodes",
        "optimizeResponse": true,
        "responseType": "text",
        "truncateResponse": true,
        "maxLength": 12000
      },
      "position": [
        1480,
        336
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKR5k0AAH8p23JJj",
          "name": "Figma PAT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "c7942cb9-51cc-45c0-a4da-f2cbaaf4b9ab",
      "name": "본문 청크",
      "parameters": {
        "jsCode": "const brief = (($('착수준비 게이트').first().json.output) || {}).brief || '';\nconst pageId = $('서브태스크 생성').first().json.id;\n\nfunction inline(s) {\n  s = String(s == null ? '' : s);\n  const out = [];\n  const re = /(\\*\\*([^*]+)\\*\\*|`([^`]+)`)/g;\n  let last = 0, m;\n  while ((m = re.exec(s)) !== null) {\n    if (m.index > last) out.push({ type: 'text', text: { content: s.slice(last, m.index) } });\n    if (m[2] !== undefined) out.push({ type: 'text', text: { content: m[2] }, annotations: { bold: true } });\n    else if (m[3] !== undefined) out.push({ type: 'text', text: { content: m[3] }, annotations: { code: true } });\n    last = re.lastIndex;\n  }\n  if (last < s.length) out.push({ type: 'text', text: { content: s.slice(last) } });\n  if (!out.length) out.push({ type: 'text', text: { content: '' } });\n  const split = [];\n  out.forEach(function (rt) {\n    const c = rt.text.content;\n    if (c.length <= 2000) { split.push(rt); return; }\n    for (let j = 0; j < c.length; j += 2000) {\n      split.push({ type: 'text', text: { content: c.slice(j, j + 2000) }, annotations: rt.annotations });\n    }\n  });\n  return split;\n}\nfunction cells(line) {\n  const parts = line.split('|');\n  if (parts.length && parts[0].trim() === '') parts.shift();\n  if (parts.length && parts[parts.length - 1].trim() === '') parts.pop();\n  return parts.map(function (c) { return c.trim(); });\n}\n\nconst lines = brief.split('\\n');\nconst blocks = [];\nlet i = 0;\nwhile (i < lines.length) {\n  const line = lines[i];\n  if (line.trim().indexOf('```') === 0) {\n    const buf = []; i++;\n    while (i < lines.length && lines[i].trim().indexOf('```') !== 0) { buf.push(lines[i]); i++; }\n    i++;\n    let code = buf.join('\\n'); if (code.length > 2000) code = code.slice(0, 2000);\n    blocks.push({ object: 'block', type: 'code', code: { rich_text: [{ type: 'text', text: { content: code || ' ' } }], language: 'plain text' } });\n    continue;\n  }\n  if (line.trim().indexOf('|') === 0 && i + 1 < lines.length && /^[\\s|:-]+$/.test(lines[i + 1]) && lines[i + 1].indexOf('-') !== -1) {\n    const header = cells(line);\n    const width = header.length;\n    const rows = [header];\n    i += 2;\n    while (i < lines.length && lines[i].trim().indexOf('|') === 0) { rows.push(cells(lines[i])); i++; }\n    const children = rows.map(function (r) {\n      const c = [];\n      for (let k = 0; k < width; k++) c.push(inline(r[k] || ''));\n      return { object: 'block', type: 'table_row', table_row: { cells: c } };\n    });\n    blocks.push({ object: 'block', type: 'table', table: { table_width: width, has_column_header: true, has_row_header: false, children: children } });\n    continue;\n  }\n  const hm = line.match(/^(#{1,6})\\s+(.*)$/);\n  if (hm) {\n    const key = 'heading_' + Math.min(hm[1].length, 3); // Notion 최대 h3 → #### 이상 클램프\n    const b = { object: 'block', type: key }; b[key] = { rich_text: inline(hm[2]) };\n    blocks.push(b); i++; continue;\n  }\n  const bm = line.match(/^\\s*[-*]\\s+(.*)$/);\n  if (bm) { blocks.push({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: inline(bm[1]) } }); i++; continue; }\n  const nm = line.match(/^\\s*\\d+\\.\\s+(.*)$/);\n  if (nm) { blocks.push({ object: 'block', type: 'numbered_list_item', numbered_list_item: { rich_text: inline(nm[1]) } }); i++; continue; }\n  if (line.trim() === '---' || line.trim() === '***') { blocks.push({ object: 'block', type: 'divider', divider: {} }); i++; continue; }\n  if (line.trim() === '') { i++; continue; }\n  blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(line) } });\n  i++;\n}\nif (!blocks.length) blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '(본문 없음)' } }] } });\n\n// AI 작업 과정 토글(맨 위·접힘) — 💭 사고(모델 서술 process) + 🔧 실제 호출이력(intermediateSteps 검증)\nconst steps = (($('착수준비 게이트').first().json) || {}).intermediateSteps || [];\nconst proc = ((($('착수준비 게이트').first().json.output) || {}).process || '').trim();\nconst TOOLMAP = { '_Hub_': 'Hub 카드 읽기', '_Figma_': 'Figma 조회', 'GitLab_Search': 'GitLab 검색', 'GitLab_File': 'GitLab 파일' };\nfunction clip(v, n) { let s = (typeof v === 'object') ? JSON.stringify(v) : String(v == null ? '' : v); s = s.replace(/\\s+/g, ' ').trim(); return s.length > n ? s.slice(0, n) + '…' : s; }\nfunction boldpara(t) { return { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: t }, annotations: { bold: true } }] } }; }\nconst tchildren = [];\nif (proc) {\n  tchildren.push(boldpara('💭 사고·판단 (모델이 서술한 과정)'));\n  proc.split('\\n').forEach(function (ln) {\n    if (ln.trim() === '') return;\n    let t = ln; if (t.length > 2000) t = t.slice(0, 2000);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(t) } });\n  });\n}\nif (steps.length) {\n  tchildren.push(boldpara('🔧 실제 호출 이력 (검증된 사실, ' + steps.length + '회)'));\n  steps.forEach(function (s, idx) {\n    const a = s.action || {};\n    const tool = TOOLMAP[a.tool] || a.tool || '?';\n    const inp = clip(a.toolInput, 300);\n    const obs = clip(s.observation, 700);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '🔧 ' + (idx + 1) + '. ' + tool }, annotations: { bold: true } }, { type: 'text', text: { content: '  입력: ' + inp } }] } });\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '← 결과: ' + obs }, annotations: { code: true } }] } });\n  });\n}\nif (tchildren.length) {\n  blocks.unshift({ object: 'block', type: 'toggle', toggle: { rich_text: [{ type: 'text', text: { content: '🔍 AI 작업 과정 (사고 + 실제 호출) — 펼쳐보기' } }], children: tchildren.slice(0, 80) } });\n}\n\nconst groups = [];\nfor (let g = 0; g < blocks.length; g += 90) groups.push(blocks.slice(g, g + 90));\nreturn groups.map(function (gr) { return { json: { pageId: pageId, children: gr } }; });\n"
      },
      "position": [
        1760,
        320
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "beadbe04-7763-4466-a0c8-e6fcf922bd5b",
      "name": "본문 추가",
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ children: $json.children }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "position": [
        1960,
        320
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "gitlab-search-tool-0001",
      "name": "GitLab Search",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1480,
        500
      ],
      "parameters": {
        "toolDescription": "GitLab 프로젝트에서 코드·문서를 키워드로 검색(scope=blobs). 매칭 파일 경로+스니펫 반환.",
        "method": "GET",
        "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend, 카탈로그는 bomapp%2Fovermind', 'string') }}/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "scope",
              "value": "blobs"
            },
            {
              "name": "search",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', '검색 키워드', 'string') }}"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "text",
        "truncateResponse": true,
        "maxLength": 6000,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "KfGsGBBxzggLur5X",
          "name": "Gitlab PAT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "gitlab-readfile-tool-001",
      "name": "GitLab File",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1640,
        500
      ],
      "parameters": {
        "toolDescription": "GitLab 프로젝트의 특정 파일 raw 내용 조회.",
        "method": "GET",
        "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend', 'string') }}/repository/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filePath', '파일경로 URL-encoded, 슬래시는 %2F 예 docs%2Fservices%2Fnext-backend.md', 'string') }}/raw",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ref', '브랜치: 대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master', 'string') }}"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "text",
        "truncateResponse": true,
        "maxLength": 10000,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "KfGsGBBxzggLur5X",
          "name": "Gitlab PAT"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": true,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-17T10:39:41.650Z",
      "project": {
        "createdAt": "2026-05-27T07:22:23.960Z",
        "creatorId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "description": null,
        "icon": null,
        "id": "501Q7eGEKoHjxZfp",
        "name": "재은 김 <justin@bomapp.co.kr>",
        "type": "personal",
        "updatedAt": "2026-05-27T07:24:05.558Z"
      },
      "projectId": "501Q7eGEKoHjxZfp",
      "role": "workflow:owner",
      "updatedAt": "2026-06-17T10:39:41.650Z",
      "workflowId": "m6YGNNCEP5RI3SSF"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-18T02:29:03.195Z",
  "versionCounter": 35,
  "versionId": "28098854-3c6b-44d2-b907-43bef5a57916"
}