n8n/workflows/wf3-handoff.json
{
  "active": true,
  "activeVersion": {
    "authors": "재은 김",
    "autosaved": false,
    "connections": {
      "Figma Vision": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "GitLab File": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "GitLab Tree": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "WF3 시작": {
        "main": [
          [
            {
              "index": 0,
              "node": "스테이지·페르소나 결정",
              "type": "main"
            }
          ]
        ]
      },
      "과거 유사 태스크 조회(similar)": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "권한 요청(access)": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "본문 청크": {
        "main": [
          [
            {
              "index": 0,
              "node": "본문 추가",
              "type": "main"
            }
          ]
        ]
      },
      "본문 추가": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 통보 메시지",
              "type": "main"
            }
          ]
        ]
      },
      "서브태스크 생성": {
        "main": [
          [
            {
              "index": 0,
              "node": "본문 청크",
              "type": "main"
            },
            {
              "index": 0,
              "node": "단계 기록",
              "type": "main"
            }
          ]
        ]
      },
      "스테이지·페르소나 결정": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 허브 조회",
              "type": "main"
            }
          ]
        ]
      },
      "착수 Figma 조회": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "착수 Hub 읽기": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "착수 Sonnet": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "착수 카드 메뉴": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 컨텍스트",
              "type": "main"
            }
          ]
        ]
      },
      "착수 컨텍스트": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "main"
            }
          ]
        ]
      },
      "착수 통보 메시지": {
        "main": [
          [
            {
              "index": 0,
              "node": "안전 전송",
              "type": "main"
            }
          ]
        ]
      },
      "착수 파서": {
        "ai_outputParser": [
          [
            {
              "index": 0,
              "node": "착수준비 게이트",
              "type": "ai_outputParser"
            }
          ]
        ]
      },
      "착수 허브 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "착수 카드 메뉴",
              "type": "main"
            }
          ]
        ]
      },
      "착수준비 게이트": {
        "main": [
          [
            {
              "index": 0,
              "node": "서브태스크 생성",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-03T08:13:42.096Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "787909b4-d4d1-46cc-b3bc-6b9f465b1e10",
        "name": "WF3 시작",
        "parameters": {
          "inputSource": "workflowInputs",
          "workflowInputs": {
            "values": [
              {
                "name": "pageId",
                "type": "string"
              },
              {
                "name": "title",
                "type": "string"
              },
              {
                "name": "brief",
                "type": "string"
              },
              {
                "name": "qa",
                "type": "string"
              },
              {
                "name": "stage",
                "type": "string"
              },
              {
                "name": "persona",
                "type": "string"
              },
              {
                "name": "pipeline",
                "type": "string"
              },
              {
                "name": "channelId",
                "type": "string"
              },
              {
                "name": "threadTs",
                "type": "string"
              },
              {
                "name": "priorContext",
                "type": "string"
              }
            ]
          }
        },
        "position": [
          0,
          112
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "id": "d4929ee7-3eb0-46dd-b7b2-f8403f4eaa50",
        "name": "스테이지·페르소나 결정",
        "parameters": {
          "jsCode": "const ri=$json.body||$json;const P={'리서치':'UX 리서처','디자인':'시니어 프로덕트 디자이너','개발':'시니어 소프트웨어 개발자','프론트엔드':'시니어 프론트엔드 개발자','백엔드':'시니어 백엔드 개발자','QA':'QA 엔지니어','마케팅':'그로스 마케터'};let stage=ri.stage;if(!stage){const roles=ri.roles||[];const ORDER=['리서치','디자인','개발','QA','마케팅'];const norm=roles.map(function(r){return String(r).split('/')[0].trim();});const ordered=ORDER.filter(function(s){return norm.indexOf(s)!==-1;});stage=ordered.length?ordered[0]:(norm[0]||'개발');}const persona=ri.persona||P[stage]||(stage+' 담당자');return [{json:{stage:stage,persona:persona,pipeline:ri.pipeline||stage,pageId:ri.pageId,title:ri.title,threadTs:ri.threadTs,channelId:ri.channelId,brief:ri.brief,qa:ri.qa,priorContext:ri.priorContext||''}}];"
        },
        "position": [
          224,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "67226555-05c6-4151-a51a-c602bbbd3a15",
        "name": "착수 허브 조회",
        "parameters": {
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "3a6975952ad54380bc580901e079a7f7"
          },
          "operation": "getAll",
          "options": {},
          "resource": "databasePage",
          "returnAll": true,
          "simple": false
        },
        "position": [
          448,
          112
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      },
      {
        "id": "f28237f8-b99f-42c8-ac1c-b2a65063a1da",
        "name": "착수 카드 메뉴",
        "parameters": {
          "jsCode": "const all=$('착수 허브 조회').all();const menu=all.map(function(c){var p=c.json.properties||{};var s=(p.주제&&p.주제.title&&p.주제.title[0])?p.주제.title[0].plain_text:'';var a=(p.영역&&p.영역.select)?p.영역.select.name:'';var t=(p.계층&&p.계층.select)?p.계층.select.name:'';return s?('- ['+s+'] 영역:'+a+' / '+t+' / id:'+c.json.id):'';}).filter(Boolean).join('\\n');return [{json:{menu:menu}}];"
        },
        "position": [
          672,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "cc9858c5-6ed5-4c12-87f3-34bafeb3cbba",
        "name": "착수 컨텍스트",
        "parameters": {
          "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const wh=$('WF3 시작').first().json.body||{};return [{json:{stage:st.stage,persona:st.persona,pipeline:st.pipeline,title:st.title,pageId:st.pageId,brief:st.brief,channelId:st.channelId,threadTs:st.threadTs,qa:wh.qa||'',menu:$('착수 카드 메뉴').first().json.menu,priorContext:st.priorContext||''}}];"
        },
        "position": [
          896,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "9c9d17bc-90be-41df-93af-5b52fde98446",
        "maxTries": 3,
        "name": "착수준비 게이트",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "maxIterations": 40,
            "returnIntermediateSteps": true,
            "systemMessage": "=당신은 {{ $json.persona }} 입니다. 통과된 기획을 받아, 이 단계 실무자가 무엇을 어떻게 해야 하는지 바로 착수할 수 있을 만큼 구체적이고 실행가능한 작업 지시서(brief, 마크다운)를 작성합니다. ⚠️ 과업의 실제 내용은 아래 '정리된 기획 브리프'와 Q&A를 기준으로 해석하라 — 제목은 식별용 라벨일 뿐이니 제목 속 단어를 기능 요구사항으로 곧이곧대로 옮기거나 화면/섹션 이름으로 베끼지 말 것.\n\n# 활용 지식/도구\n- 컨텍스트 카드 메뉴(주제/영역/계층/id):\n{{ $json.menu }}\n- 도구 \"착수 Hub 읽기\": **메뉴에 있는 Context Hub 카드**를 그 카드 id로 읽음. 디자인 작업이면 메뉴에서 디자인 시스템·디자인 토큰·디자인 컴포넌트 카탈로그 카드를 반드시 읽어 실제 컴포넌트명·토큰·화면(Figma node id)을 확인하세요. ⚠️ 기획 맥락은 위 brief에 이미 정리돼 있으니 **기획 page id를 이 툴로 읽지 말 것**(통합 공유 밖이라 실패). cardId 는 반드시 메뉴의 카드 id 만 사용.\n- 도구 \"착수 Figma 조회\": Figma node 구조 조회(fileKey + node id). 보맵 앱 컴포넌트·토큰·전 화면이 모두 BDS 파일 3Ifh58l7EWLXapWRys0vjf 에 있음 — 특히 화면취합 노드 11095-53827 에 5탭 전 화면이 취합됨. **도구 \"Figma Vision\"으로 node-id의 화면을 실제 이미지로 보고 내용을 파악할 수 있다(캡처도 판독 가능)** — 디자인 작업이면 대상/참조 화면을 Figma Vision으로 시각 확인해 근거 있게 작성하라. (node 구조·하위 id는 '착수 Figma 조회', 화면 내용 이해는 'Figma Vision'.) 화면 id를 모르면 화면취합(11095-53827)을 Vision으로 1회 보고 해당 탭 영역을 특정하라. ⚠️ Figma Vision은 **정말 필요한 화면 1~3개만** 호출(남발·같은 node 반복 금지). node-id는 '착수 Figma 조회'로 얻은 실제 하위 node-id를 쓰고, 추측 id로 반복 호출하지 말 것. 툴 호출 총량을 아껴 효율적으로 작성하라. 태스크에 Figma 링크(node-id)가 있으면 1순위. 큰 노드는 응답이 잘리니 구체 node로 좁혀 조회. 디자인 무관이면 호출 금지.\n- 도구 \"GitLab File\"(파일읽기): 코드·문서를 GitLab에서 **경로로 직접 읽는다**(코드 검색 도구는 없음 — 인덱스 부재로 무용해 제거됨, 그러니 검색에 의존하려 하지 말고 아래 방식으로 경로를 파악하라). **서비스 구조·모듈·경로의 정본은 Overmind 문서다(Notion 카드보다 신선·정확) — 구조/경로가 필요하면 먼저 \"GitLab File\"로 `bomapp%2Fovermind`(ref=main)의 다음 문서를 읽어 파악하라:** `docs%2Fservices%2F<service>.md`(서비스별 모듈 구조·앱별 상세·주요 코드 경로·의존 관계; service ∈ next-backend·next-frontend·mydata-agent·mydata-mgmts-api·mydata-platform·infra·legacy-backend·az-was·bomapp-vkey), 필요 시 `docs%2Farchitecture.md`·`services.yaml`. 그 문서에서 얻은 **정확한 경로**로 대상 레포(projectId=`bomapp%2F<레포명>`, 예 bomapp%2Fnext-backend; ref=대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master)의 실제 코드 파일을 \"GitLab File\"로 읽어라(파일경로 URL-encode, 슬래시 %2F). **경로를 모르면 추측으로 반복하지 말 것 — \"GitLab Tree\"로 해당 디렉터리를 나열해 실제 파일명을 확인한 뒤 \"GitLab File\"로 읽어라(Tree는 인덱스 불필요로 항상 동작). 같은 파일을 경로만 바꿔 여러 번 시도 금지.** 코드를 전부 읽으려 하지 말고 **착수 지시서 작성에 꼭 필요한 핵심 파일 2~4개**로 제한하라. 불필요하면 호출 금지.\n- 도구 \"GitLab Tree\"(디렉터리 목록): GitLab 프로젝트 경로 하위 파일·폴더를 recursive 나열. projectId(URL-encoded)·path(슬래시 그대로, 루트는 빈값)·ref 지정. 파일 경로/이름을 모를 때 추측 대신 이걸로 실제 구조를 확인하라.\\n- Figma 화면 링크는 확인한 node id로 구성: https://www.figma.com/file/3Ifh58l7EWLXapWRys0vjf/?node-id=<id>.\n- 도구 \"과거 유사 태스크 조회(similar)\": 이 단계 작업이 과거에 다룬 적 있는 주제(같은 화면·같은 알림톡·같은 기능)면, 핵심 키워드로 과거 태스크를 조회해 그때의 결정/패턴/브리프를 참고해 일관되게 작성하라. 스스로 판단해 도움될 때만 호출.\n- 도구 \"권한 요청(access)\": 참조해야 할 Notion 페이지를 읽으려다 권한 오류(접근 불가)로 실패하면, 이 툴로 담당 채널에 접근권한 요청을 보내라(어떤 단계/페이지인지 명시). 같은 페이지는 한 번만.\n# 선행 단계 산출물 (있으면 최우선 활용)\n입력의 '선행 단계 산출물'에 이 기획의 앞 단계들(예: 디자인)이 이미 작성한 작업 지시서가 통째로 들어온다. 거기서 앞 에이전트가 힘들게 찾아낸 **Figma node id·화면·코드 파일 경로·DS 컴포넌트·결정사항을 그대로 이어받아 재사용**하라 — 같은 것을 도구로 다시 찾지 마라(헛탐색 금지, 시간·비용 절약). 네 단계는 그 산출물 위에 쌓는 것이다. 통째 복붙 말고 네 단계 관점에서 필요한 것만 인용·발전시켜라. **선행 단계가 '담당자 제출 산출물'(예: 디자인=Figma 링크, 백엔드=PR 링크)을 포함하면, 그 실제 결과물을 최우선 근거로 삼아 작업 지시서를 작성하라 — 추측 대신 제출된 산출물의 화면/PR/변경 내용을 직접 반영하고, 산출물 링크는 작업 지시서에도 명시하라.**\n원칙: 추측하지 말고 Hub 카드로 확인해 근거 있게 쓰세요. 정보 부족하면 결정 사항에 남기세요.\n\n# 출력 형식(단계별)\n공통: 마지막에 ## 결정 사항 — 사람 판단이 필요한 것만(없으면 없음). 일정·소요시간 추정 금지. 이미 Q&A로 결정된 것 재나열 금지. 착수 전 체크리스트/착수 계획 섹션 만들지 말 것. **헤더는 ###(h3)까지만 사용 — #### 이상 금지(Notion 미지원).**\n[디자인] ## 작업 개요 / ## 화면별 작업(화면마다 '무엇을 만들/바꿀지'와 적합한 **BDS 패턴·컴포넌트·디자인 토큰을 이름/id로 '제안'**. 기존 화면 있으면 Figma 링크, 없으면 ## 와이어프레임(ASCII) 레이아웃 안) / ## 인터랙션 & 플로우([버튼/요소]→다음 화면·동작 + 쓰면 좋을 DS 컴포넌트 제안). ⚠️ **디자인 디테일(정확한 px·색상값·간격·radius 등)은 디자이너의 창의 영역 — 단정해 지시하지 말 것.** 어떤 패턴/템플릿/컴포넌트/토큰을 쓰면 좋겠다는 '제안'에 그쳐라. 굳이 수치·색을 적고 싶으면 반드시 '(제안)'이라고 명시해 디자이너가 자유롭게 판단하게 한다.\n[개발] ## 작업 개요 / ## 구현 항목 / ## 예외·엣지 / ## 의존성.\n[QA] ## 작업 개요 / ## 인수 기준 / ## 테스트 시나리오.\n작업 지시서(brief, 마크다운)를 화면별 작업·인터랙션·DS 컴포넌트/토큰·결정사항까지 **가능한 한 구체적이고 풍부하게** 작성한다. summary는 슬랙 통보용 1줄. process에는 어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단을 기록한다. **단 process는 간결하게 핵심만 — 도구·Vision·파일 조회 결과 원문을 통째로 옮기지 말고 한두 줄로 요약하라. 출력 전체가 비대해지면 최종 JSON이 잘려 실패한다.** 최종 답변은 반드시 완결된 JSON 한 덩어리로만(앞뒤 설명/마크다운 펜스 금지). 반드시 지정 JSON 스키마로만 답하세요."
          },
          "promptType": "define",
          "text": "=직무: {{ $json.persona }} / 단계: {{ $json.stage }}\n제목: {{ $json.title }}\n기획 page id: {{ $json.pageId }}\n\n정리된 기획 브리프:\n{{ $json.brief }}\n\n기획 단계 질문·답변(이미 결정된 사실):\n{{ $json.qa }}\n\n[선행 단계 컨텍스트 — 앞 단계들의 작업 지시서 + 담당자가 제출한 실제 산출물(피그마/PR/문서 링크). 여기 적힌 Figma node id·화면·코드 경로·PR·결정을 그대로 이어받고 다시 찾지 말 것. '담당자 제출 산출물' 링크가 있으면 그 결과물을 최우선 근거로 삼아라]\n{{ $json.priorContext }}"
        },
        "position": [
          1184,
          112
        ],
        "retryOnFail": true,
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1
      },
      {
        "credentials": {
          "aws": {
            "id": "GftVHJqfxQshQZ4P",
            "name": "AWS (IAM) account"
          }
        },
        "id": "df69cf3e-47d4-47a0-b499-afc890cc5dea",
        "name": "착수 Sonnet",
        "parameters": {
          "model": "global.anthropic.claude-sonnet-4-6",
          "modelSource": "inferenceProfile",
          "options": {
            "cacheSystemPrompt": true,
            "cacheTools": true,
            "cacheTtl": "5m",
            "enablePromptCaching": true,
            "maxTokensToSample": 32000,
            "temperature": 0.2
          }
        },
        "position": [
          1120,
          336
        ],
        "type": "n8n-nodes-bedrock-advanced.lmChatAwsBedrockAdvanced",
        "typeVersion": 1
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "e77048bb-b3f7-471d-b794-9d37357a7bf4",
        "name": "착수 Hub 읽기",
        "onError": "continueRegularOutput",
        "parameters": {
          "blockId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Notion page id (메뉴의 카드 id 또는 기획 page id)') }}"
          },
          "descriptionType": "manual",
          "operation": "getAll",
          "resource": "block",
          "returnAll": true,
          "toolDescription": "Context Hub 카드나 기획 태스크 본문을 Notion page id로 읽는다"
        },
        "position": [
          1248,
          336
        ],
        "type": "n8n-nodes-base.notionTool",
        "typeVersion": 2.2
      },
      {
        "id": "3dd6841e-248a-4edb-82ba-e37e348cd394",
        "name": "착수 파서",
        "parameters": {
          "jsonSchemaExample": "{ \"brief\": \"## 작업 개요\\n...\\n## 결정 사항\\n- (사람 판단 필요, 없으면 없음)\", \"summary\": \"슬랙 통보용 1줄\", \"process\": \"어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단 기록(간결, brief 품질을 해치지 않는 선에서)\" }"
        },
        "position": [
          1376,
          336
        ],
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "08bf7fad-683b-49da-942c-1d7c65beedbe",
        "name": "서브태스크 생성",
        "parameters": {
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "fd91ec8d-1025-4439-9d56-71af49eecac2"
          },
          "operation": "create",
          "options": {},
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "타입|select",
                "selectValue": "={{ $('스테이지·페르소나 결정').first().json.stage }}"
              },
              {
                "key": "관계된 ✅ TASK|relation",
                "relationValue": [
                  "={{ $('스테이지·페르소나 결정').first().json.pageId }}"
                ]
              }
            ]
          },
          "resource": "databasePage",
          "title": "=[{{ $('스테이지·페르소나 결정').first().json.stage }}] {{ $('스테이지·페르소나 결정').first().json.title }}"
        },
        "position": [
          1584,
          112
        ],
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2
      },
      {
        "id": "dc28234e-a315-4714-a9bf-a47021e045a4",
        "name": "착수 통보 메시지",
        "parameters": {
          "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const out=$('착수준비 게이트').first().json.output||{};const sub=$('서브태스크 생성').first().json;const url=(sub&&sub.url)?sub.url:'';const text='[' + st.stage + '] 착수 준비가 생성됐어요 — '+st.persona+' 관점\\n파이프라인: '+(st.pipeline||st.stage)+'\\n'+(out.summary||'')+(url?('\\n서브태스크: '+url):'');return [{json:{body:{channel:st.channelId,thread_ts:st.threadTs,text:text}}}];"
        },
        "position": [
          2200,
          112
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "OKR5k0AAH8p23JJj",
            "name": "Figma PAT"
          }
        },
        "id": "71462b87-ea0d-4d5b-ba1d-4e0265947247",
        "name": "착수 Figma 조회",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "maxLength": 12000,
          "method": "GET",
          "optimizeResponse": true,
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "text"
              }
            }
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ids', '조회할 Figma node id (예 11095:53827). 여러 개면 콤마 구분', 'string') }}"
              },
              {
                "name": "depth",
                "value": "1"
              }
            ]
          },
          "responseType": "text",
          "sendQuery": true,
          "specifyQuery": "keypair",
          "toolDescription": "Figma 파일의 특정 node id 구조를 조회(디자인 건만)",
          "truncateResponse": true,
          "url": "=https://api.figma.com/v1/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fileKey', '조회할 Figma 파일 key (figma.com/design/<KEY>/... 의 KEY). DS 컴포넌트·토큰·화면취합 개요는 3Ifh58l7EWLXapWRys0vjf, 기능별 실제 화면은 태스크/Hub 카드에 링크된 파일 키 사용', 'string') }}/nodes"
        },
        "position": [
          1480,
          336
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "id": "c7942cb9-51cc-45c0-a4da-f2cbaaf4b9ab",
        "name": "본문 청크",
        "parameters": {
          "jsCode": "const brief = (($('착수준비 게이트').first().json.output) || {}).brief || '';\nconst pageId = $('서브태스크 생성').first().json.id;\n\nfunction inline(s) {\n  s = String(s == null ? '' : s);\n  const out = [];\n  const re = /(\\*\\*([^*]+)\\*\\*|`([^`]+)`|\\[([^\\]]+)\\]\\(([^)\\s]+)\\)|(https?:\\/\\/[^\\s)\\]]+))/g;\n  let last = 0, m;\n  while ((m = re.exec(s)) !== null) {\n    if (m.index > last) out.push({ type: 'text', text: { content: s.slice(last, m.index) } });\n    if (m[2] !== undefined) out.push({ type: 'text', text: { content: m[2] }, annotations: { bold: true } });\n    else if (m[3] !== undefined) out.push({ type: 'text', text: { content: m[3] }, annotations: { code: true } });\n    else if (m[4] !== undefined) out.push({ type: 'text', text: { content: m[4], link: { url: m[5] } } });\n    else if (m[6] !== undefined) out.push({ type: 'text', text: { content: m[6], link: { url: m[6] } } });\n    last = re.lastIndex;\n  }\n  if (last < s.length) out.push({ type: 'text', text: { content: s.slice(last) } });\n  if (!out.length) out.push({ type: 'text', text: { content: '' } });\n  const split = [];\n  out.forEach(function (rt) {\n    const c = rt.text.content;\n    if (c.length <= 2000) { split.push(rt); return; }\n    for (let j = 0; j < c.length; j += 2000) {\n      split.push({ type: 'text', text: { content: c.slice(j, j + 2000), link: rt.text.link }, annotations: rt.annotations });\n    }\n  });\n  return split;\n}\nfunction cells(line) {\n  const parts = line.split('|');\n  if (parts.length && parts[0].trim() === '') parts.shift();\n  if (parts.length && parts[parts.length - 1].trim() === '') parts.pop();\n  return parts.map(function (c) { return c.trim(); });\n}\n\nconst lines = brief.split('\\n');\nconst blocks = [];\nlet i = 0;\nwhile (i < lines.length) {\n  const line = lines[i];\n  if (line.trim().indexOf('```') === 0) {\n    const buf = []; i++;\n    while (i < lines.length && lines[i].trim().indexOf('```') !== 0) { buf.push(lines[i]); i++; }\n    i++;\n    let code = buf.join('\\n'); if (code.length > 2000) code = code.slice(0, 2000);\n    blocks.push({ object: 'block', type: 'code', code: { rich_text: [{ type: 'text', text: { content: code || ' ' } }], language: 'plain text' } });\n    continue;\n  }\n  if (line.trim().indexOf('|') === 0 && i + 1 < lines.length && /^[\\s|:-]+$/.test(lines[i + 1]) && lines[i + 1].indexOf('-') !== -1) {\n    const header = cells(line);\n    const width = header.length;\n    const rows = [header];\n    i += 2;\n    while (i < lines.length && lines[i].trim().indexOf('|') === 0) { rows.push(cells(lines[i])); i++; }\n    const children = rows.map(function (r) {\n      const c = [];\n      for (let k = 0; k < width; k++) c.push(inline(r[k] || ''));\n      return { object: 'block', type: 'table_row', table_row: { cells: c } };\n    });\n    blocks.push({ object: 'block', type: 'table', table: { table_width: width, has_column_header: true, has_row_header: false, children: children } });\n    continue;\n  }\n  const hm = line.match(/^(#{1,6})\\s+(.*)$/);\n  if (hm) {\n    const key = 'heading_' + Math.min(hm[1].length, 3); // Notion 최대 h3 → #### 이상 클램프\n    const b = { object: 'block', type: key }; b[key] = { rich_text: inline(hm[2]) };\n    blocks.push(b); i++; continue;\n  }\n  const bm = line.match(/^\\s*[-*]\\s+(.*)$/);\n  if (bm) { blocks.push({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: inline(bm[1]) } }); i++; continue; }\n  const nm = line.match(/^\\s*\\d+\\.\\s+(.*)$/);\n  if (nm) { blocks.push({ object: 'block', type: 'numbered_list_item', numbered_list_item: { rich_text: inline(nm[1]) } }); i++; continue; }\n  if (line.trim() === '---' || line.trim() === '***') { blocks.push({ object: 'block', type: 'divider', divider: {} }); i++; continue; }\n  if (line.trim() === '') { i++; continue; }\n  blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(line) } });\n  i++;\n}\nif (!blocks.length) blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '(본문 없음)' } }] } });\n\n// AI 작업 과정 토글(맨 위·접힘) — 💭 사고(모델 서술 process) + 🔧 실제 호출이력(intermediateSteps 검증)\nconst steps = (($('착수준비 게이트').first().json) || {}).intermediateSteps || [];\nconst proc = ((($('착수준비 게이트').first().json.output) || {}).process || '').trim();\nconst TOOLMAP = { '_Hub_': 'Hub 카드 읽기', '_Figma_': 'Figma 조회', 'GitLab_Search': 'GitLab 검색', 'GitLab_File': 'GitLab 파일' };\nfunction clip(v, n) { let s = (typeof v === 'object') ? JSON.stringify(v) : String(v == null ? '' : v); s = s.replace(/\\s+/g, ' ').trim(); return s.length > n ? s.slice(0, n) + '…' : s; }\nfunction boldpara(t) { return { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: t }, annotations: { bold: true } }] } }; }\nconst tchildren = [];\nif (proc) {\n  tchildren.push(boldpara('💭 사고·판단 (모델이 서술한 과정)'));\n  proc.split('\\n').forEach(function (ln) {\n    if (ln.trim() === '') return;\n    let t = ln; if (t.length > 2000) t = t.slice(0, 2000);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(t) } });\n  });\n}\nif (steps.length) {\n  tchildren.push(boldpara('🔧 실제 호출 이력 (검증된 사실, ' + steps.length + '회)'));\n  steps.forEach(function (s, idx) {\n    const a = s.action || {};\n    const tool = TOOLMAP[a.tool] || a.tool || '?';\n    const inp = clip(a.toolInput, 300);\n    const obs = clip(s.observation, 700);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '🔧 ' + (idx + 1) + '. ' + tool }, annotations: { bold: true } }, { type: 'text', text: { content: '  입력: ' + inp } }] } });\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '← 결과: ' + obs }, annotations: { code: true } }] } });\n  });\n}\nif (tchildren.length) {\n  blocks.unshift({ object: 'block', type: 'toggle', toggle: { rich_text: [{ type: 'text', text: { content: '🔍 AI 작업 과정 (사고 + 실제 호출) — 펼쳐보기' } }], children: tchildren.slice(0, 80) } });\n}\n\nconst groups = [];\nfor (let g = 0; g < blocks.length; g += 90) groups.push(blocks.slice(g, g + 90));\nreturn groups.map(function (gr) { return { json: { pageId: pageId, children: gr } }; });\n"
        },
        "position": [
          1760,
          320
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "beadbe04-7763-4466-a0c8-e6fcf922bd5b",
        "name": "본문 추가",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "jsonBody": "={{ ({ children: $json.children }) }}",
          "method": "PATCH",
          "nodeCredentialType": "notionApi",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1
              }
            }
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children"
        },
        "position": [
          1960,
          320
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "KfGsGBBxzggLur5X",
            "name": "Gitlab PAT"
          }
        },
        "id": "gitlab-readfile-tool-001",
        "name": "GitLab File",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "maxLength": 10000,
          "method": "GET",
          "optimizeResponse": true,
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "text"
              }
            }
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "ref",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ref', '브랜치: 대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master', 'string') }}"
              }
            ]
          },
          "responseType": "text",
          "sendQuery": true,
          "specifyQuery": "keypair",
          "toolDescription": "GitLab 프로젝트의 특정 파일 raw 내용 조회.",
          "truncateResponse": true,
          "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend', 'string') }}/repository/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filePath', '파일경로 URL-encoded, 슬래시는 %2F 예 docs%2Fservices%2Fnext-backend.md', 'string') }}/raw"
        },
        "position": [
          1640,
          500
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "id": "figma-vision-tool-0001",
        "name": "Figma Vision",
        "parameters": {
          "description": "Figma 화면(node-id)을 실제 이미지로 보고 화면 설명을 받는다. 캡처/스크린샷 화면도 내용(레이아웃·요소·텍스트·상태) 파악 가능. 디자인 작업 시 관련 기존 화면을 시각 확인할 때 사용.",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Overmind Figma Vision · 화면 설명",
            "mode": "id",
            "value": "YN6uIteF2X5BAo85"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": true,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": false,
                "defaultMatch": false,
                "display": true,
                "displayName": "nodeId",
                "id": "nodeId",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": false,
                "defaultMatch": false,
                "display": true,
                "displayName": "question",
                "id": "question",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": false,
                "defaultMatch": false,
                "display": true,
                "displayName": "fileKey",
                "id": "fileKey",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "fileKey": "3Ifh58l7EWLXapWRys0vjf",
              "nodeId": "={{ $fromAI('nodeId', '볼 Figma node id (예 10914-6407). 화면취합/디자인카드에서 얻은 화면 id', 'string') }}",
              "question": "={{ $fromAI('question', '이 화면에서 알고 싶은 것(없으면 전체 설명)', 'string') }}"
            }
          }
        },
        "position": [
          1800,
          500
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "id": "33da6c03-4def-40c4-b356-8f82a8dbb0d6",
        "name": "단계 기록",
        "parameters": {
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "created_at": "={{ $now.toISO() }}",
              "depends_on": "[]",
              "parent_page_id": "={{ $('스테이지·페르소나 결정').first().json.pageId }}",
              "persona": "={{ $('스테이지·페르소나 결정').first().json.persona }}",
              "pipeline": "={{ $('스테이지·페르소나 결정').first().json.pipeline }}",
              "stage": "={{ $('스테이지·페르소나 결정').first().json.stage }}",
              "stage_brief": "={{ (($('착수준비 게이트').first().json.output) || {}).brief || '' }}",
              "status": "created",
              "subtask_page_id": "={{ $('서브태스크 생성').first().json.id }}",
              "title": "={{ $('스테이지·페르소나 결정').first().json.title }}"
            }
          },
          "dataTableId": {
            "__rl": true,
            "mode": "id",
            "value": "16uFko9jgm6gFs0T"
          },
          "operation": "insert",
          "options": {},
          "resource": "row"
        },
        "position": [
          1760,
          120
        ],
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "KfGsGBBxzggLur5X",
            "name": "Gitlab PAT"
          }
        },
        "id": "gitlab-tree-tool-001",
        "name": "GitLab Tree",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "maxLength": 10000,
          "method": "GET",
          "optimizeResponse": true,
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "text"
              }
            }
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "path",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('path', '디렉터리 경로(슬래시 그대로, 예 bomapp-domain/rds/src/main/java/kr/co/bomapp/domain/rds). 루트는 빈 문자열', 'string') }}"
              },
              {
                "name": "ref",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ref', '브랜치: 대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master', 'string') }}"
              },
              {
                "name": "recursive",
                "value": "true"
              },
              {
                "name": "per_page",
                "value": "100"
              }
            ]
          },
          "responseType": "text",
          "sendQuery": true,
          "specifyQuery": "keypair",
          "toolDescription": "GitLab 프로젝트의 디렉터리 하위 파일·폴더 목록을 recursive로 나열. 정확한 파일 경로/이름을 모를 때 추측하지 말고 이걸로 실제 구조를 확인한 뒤 GitLab File 로 읽어라.",
          "truncateResponse": true,
          "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend', 'string') }}/repository/tree"
        },
        "position": [
          1640,
          680
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "credentials": {
          "notionApi": {
            "id": "b03vHUApw6s0O5jS",
            "name": "Notion account"
          }
        },
        "id": "similar-task-tool-001",
        "name": "과거 유사 태스크 조회(similar)",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "contentType": "json",
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "jsonBody": "={{ JSON.stringify({ filter: { property: '테스크명', title: { contains: /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', '이 단계 작업과 비슷한 과거 태스크를 찾을 핵심 키워드 한 단어(화면명·기능명·알림톡 종류 등)', 'string') } }, page_size: 5, sorts: [{ timestamp: 'created_time', direction: 'descending' }] }) }}",
          "maxLength": 9000,
          "method": "POST",
          "nodeCredentialType": "notionApi",
          "optimizeResponse": true,
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "text"
              }
            }
          },
          "responseType": "text",
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "specifyHeaders": "keypair",
          "toolDescription": "이 단계 작업과 비슷한 '과거에 진행된 태스크'를 Notion TASK DB에서 키워드로 조회한다. 같은 화면·같은 알림톡·같은 기능의 과거 기획·디자인·개발·QA 작업이 어떻게 처리됐는지 참고해 일관되게 작성할 때 사용. keyword에는 화면명/기능명/알림톡 종류 같은 핵심어 하나를 넣어라.",
          "truncateResponse": true,
          "url": "https://api.notion.com/v1/databases/fd91ec8d-1025-4439-9d56-71af49eecac2/query"
        },
        "position": [
          1640,
          660
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "credentials": {
          "slackApi": {
            "id": "bjozecrw9OnFT8Lf",
            "name": "Botmap"
          }
        },
        "id": "access-request-tool-001",
        "name": "권한 요청(access)",
        "onError": "continueRegularOutput",
        "parameters": {
          "authentication": "predefinedCredentialType",
          "contentType": "json",
          "jsonBody": "={{ JSON.stringify({ channel: 'C0B9LE2FF36', text: '⚠️ *[Notion 접근권한 요청]* ' + /*n8n-auto-generated-fromAI-override*/ $fromAI('message', '어느 단계 작업 중 어떤 Notion 페이지(URL 또는 page id)에 접근이 막혔는지와 Overmind 통합에 공유해 달라는 요청을 한국어 한두 문장으로', 'string') }) }}",
          "maxLength": 500,
          "method": "POST",
          "nodeCredentialType": "slackApi",
          "optimizeResponse": true,
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "text"
              }
            }
          },
          "responseType": "text",
          "sendBody": true,
          "specifyBody": "json",
          "toolDescription": "작업 중 Overmind가 접근할 수 없는(권한 없는) Notion 페이지를 만났을 때 담당 Slack 채널에 접근권한 요청을 보낸다. Notion 페이지 읽기가 권한 오류로 실패한 경우에만 사용. message에는 어떤 단계/페이지인지와 접근이 필요한 이유를 적어라. 같은 페이지는 한 실행에서 한 번만 요청.",
          "truncateResponse": true,
          "url": "https://slack.com/api/chat.postMessage"
        },
        "position": [
          1640,
          800
        ],
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4
      },
      {
        "id": "wf3-safe-send-0001",
        "name": "안전 전송",
        "parameters": {
          "mode": "once",
          "options": {
            "waitForSubWorkflow": true
          },
          "source": "database",
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Overmind · Slack 안전 전송(자동 분할)",
            "mode": "id",
            "value": "Vmgmo0MP7v2ghMD0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "channel",
                "id": "channel",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "text",
                "id": "text",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "threadTs",
                "id": "threadTs",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "updateTs",
                "id": "updateTs",
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "channel": "={{ $json.body.channel }}",
              "text": "={{ $json.body.text }}",
              "threadTs": "={{ $json.body.thread_ts }}",
              "updateTs": ""
            }
          }
        },
        "position": [
          2420,
          112
        ],
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3
      }
    ],
    "updatedAt": "2026-07-03T08:13:42.096Z",
    "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
    "workflowId": "m6YGNNCEP5RI3SSF",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T08:13:42.180Z",
        "event": "deactivated",
        "id": 404,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
        "workflowId": "m6YGNNCEP5RI3SSF"
      },
      {
        "createdAt": "2026-07-03T08:13:42.198Z",
        "event": "activated",
        "id": 405,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
        "workflowId": "m6YGNNCEP5RI3SSF"
      },
      {
        "createdAt": "2026-07-03T08:13:48.401Z",
        "event": "deactivated",
        "id": 406,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
        "workflowId": "m6YGNNCEP5RI3SSF"
      },
      {
        "createdAt": "2026-07-03T08:13:48.419Z",
        "event": "activated",
        "id": 407,
        "userId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
        "workflowId": "m6YGNNCEP5RI3SSF"
      }
    ]
  },
  "activeVersionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53",
  "connections": {
    "Figma Vision": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "GitLab File": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "GitLab Tree": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "WF3 시작": {
      "main": [
        [
          {
            "index": 0,
            "node": "스테이지·페르소나 결정",
            "type": "main"
          }
        ]
      ]
    },
    "과거 유사 태스크 조회(similar)": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "권한 요청(access)": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "본문 청크": {
      "main": [
        [
          {
            "index": 0,
            "node": "본문 추가",
            "type": "main"
          }
        ]
      ]
    },
    "본문 추가": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 통보 메시지",
            "type": "main"
          }
        ]
      ]
    },
    "서브태스크 생성": {
      "main": [
        [
          {
            "index": 0,
            "node": "본문 청크",
            "type": "main"
          },
          {
            "index": 0,
            "node": "단계 기록",
            "type": "main"
          }
        ]
      ]
    },
    "스테이지·페르소나 결정": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 허브 조회",
            "type": "main"
          }
        ]
      ]
    },
    "착수 Figma 조회": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "착수 Hub 읽기": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "착수 Sonnet": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "착수 카드 메뉴": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 컨텍스트",
            "type": "main"
          }
        ]
      ]
    },
    "착수 컨텍스트": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "main"
          }
        ]
      ]
    },
    "착수 통보 메시지": {
      "main": [
        [
          {
            "index": 0,
            "node": "안전 전송",
            "type": "main"
          }
        ]
      ]
    },
    "착수 파서": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "착수준비 게이트",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "착수 허브 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "착수 카드 메뉴",
            "type": "main"
          }
        ]
      ]
    },
    "착수준비 게이트": {
      "main": [
        [
          {
            "index": 0,
            "node": "서브태스크 생성",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-17T10:39:41.650Z",
  "description": "WF2 통과 시 호출되는 다음 단계 태스크 생성기. 웹훅 수신→스테이지 결정→Context Hub 로드→에이전트형 착수준비 게이트(Sonnet+파서+Hub툴)가 디자인/개발 스펙 작성→서브태스크 생성(본문)→Slack 통보.",
  "id": "m6YGNNCEP5RI3SSF",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Overmind WF3 · 다음 단계 태스크 생성",
  "nodes": [
    {
      "id": "787909b4-d4d1-46cc-b3bc-6b9f465b1e10",
      "name": "WF3 시작",
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "pageId",
              "type": "string"
            },
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "brief",
              "type": "string"
            },
            {
              "name": "qa",
              "type": "string"
            },
            {
              "name": "stage",
              "type": "string"
            },
            {
              "name": "persona",
              "type": "string"
            },
            {
              "name": "pipeline",
              "type": "string"
            },
            {
              "name": "channelId",
              "type": "string"
            },
            {
              "name": "threadTs",
              "type": "string"
            },
            {
              "name": "priorContext",
              "type": "string"
            }
          ]
        }
      },
      "position": [
        0,
        112
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "d4929ee7-3eb0-46dd-b7b2-f8403f4eaa50",
      "name": "스테이지·페르소나 결정",
      "parameters": {
        "jsCode": "const ri=$json.body||$json;const P={'리서치':'UX 리서처','디자인':'시니어 프로덕트 디자이너','개발':'시니어 소프트웨어 개발자','프론트엔드':'시니어 프론트엔드 개발자','백엔드':'시니어 백엔드 개발자','QA':'QA 엔지니어','마케팅':'그로스 마케터'};let stage=ri.stage;if(!stage){const roles=ri.roles||[];const ORDER=['리서치','디자인','개발','QA','마케팅'];const norm=roles.map(function(r){return String(r).split('/')[0].trim();});const ordered=ORDER.filter(function(s){return norm.indexOf(s)!==-1;});stage=ordered.length?ordered[0]:(norm[0]||'개발');}const persona=ri.persona||P[stage]||(stage+' 담당자');return [{json:{stage:stage,persona:persona,pipeline:ri.pipeline||stage,pageId:ri.pageId,title:ri.title,threadTs:ri.threadTs,channelId:ri.channelId,brief:ri.brief,qa:ri.qa,priorContext:ri.priorContext||''}}];"
      },
      "position": [
        224,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "67226555-05c6-4151-a51a-c602bbbd3a15",
      "name": "착수 허브 조회",
      "parameters": {
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "3a6975952ad54380bc580901e079a7f7"
        },
        "operation": "getAll",
        "options": {},
        "resource": "databasePage",
        "returnAll": true,
        "simple": false
      },
      "position": [
        448,
        112
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    },
    {
      "id": "f28237f8-b99f-42c8-ac1c-b2a65063a1da",
      "name": "착수 카드 메뉴",
      "parameters": {
        "jsCode": "const all=$('착수 허브 조회').all();const menu=all.map(function(c){var p=c.json.properties||{};var s=(p.주제&&p.주제.title&&p.주제.title[0])?p.주제.title[0].plain_text:'';var a=(p.영역&&p.영역.select)?p.영역.select.name:'';var t=(p.계층&&p.계층.select)?p.계층.select.name:'';return s?('- ['+s+'] 영역:'+a+' / '+t+' / id:'+c.json.id):'';}).filter(Boolean).join('\\n');return [{json:{menu:menu}}];"
      },
      "position": [
        672,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "cc9858c5-6ed5-4c12-87f3-34bafeb3cbba",
      "name": "착수 컨텍스트",
      "parameters": {
        "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const wh=$('WF3 시작').first().json.body||{};return [{json:{stage:st.stage,persona:st.persona,pipeline:st.pipeline,title:st.title,pageId:st.pageId,brief:st.brief,channelId:st.channelId,threadTs:st.threadTs,qa:wh.qa||'',menu:$('착수 카드 메뉴').first().json.menu,priorContext:st.priorContext||''}}];"
      },
      "position": [
        896,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9c9d17bc-90be-41df-93af-5b52fde98446",
      "maxTries": 3,
      "name": "착수준비 게이트",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "maxIterations": 40,
          "returnIntermediateSteps": true,
          "systemMessage": "=당신은 {{ $json.persona }} 입니다. 통과된 기획을 받아, 이 단계 실무자가 무엇을 어떻게 해야 하는지 바로 착수할 수 있을 만큼 구체적이고 실행가능한 작업 지시서(brief, 마크다운)를 작성합니다. ⚠️ 과업의 실제 내용은 아래 '정리된 기획 브리프'와 Q&A를 기준으로 해석하라 — 제목은 식별용 라벨일 뿐이니 제목 속 단어를 기능 요구사항으로 곧이곧대로 옮기거나 화면/섹션 이름으로 베끼지 말 것.\n\n# 활용 지식/도구\n- 컨텍스트 카드 메뉴(주제/영역/계층/id):\n{{ $json.menu }}\n- 도구 \"착수 Hub 읽기\": **메뉴에 있는 Context Hub 카드**를 그 카드 id로 읽음. 디자인 작업이면 메뉴에서 디자인 시스템·디자인 토큰·디자인 컴포넌트 카탈로그 카드를 반드시 읽어 실제 컴포넌트명·토큰·화면(Figma node id)을 확인하세요. ⚠️ 기획 맥락은 위 brief에 이미 정리돼 있으니 **기획 page id를 이 툴로 읽지 말 것**(통합 공유 밖이라 실패). cardId 는 반드시 메뉴의 카드 id 만 사용.\n- 도구 \"착수 Figma 조회\": Figma node 구조 조회(fileKey + node id). 보맵 앱 컴포넌트·토큰·전 화면이 모두 BDS 파일 3Ifh58l7EWLXapWRys0vjf 에 있음 — 특히 화면취합 노드 11095-53827 에 5탭 전 화면이 취합됨. **도구 \"Figma Vision\"으로 node-id의 화면을 실제 이미지로 보고 내용을 파악할 수 있다(캡처도 판독 가능)** — 디자인 작업이면 대상/참조 화면을 Figma Vision으로 시각 확인해 근거 있게 작성하라. (node 구조·하위 id는 '착수 Figma 조회', 화면 내용 이해는 'Figma Vision'.) 화면 id를 모르면 화면취합(11095-53827)을 Vision으로 1회 보고 해당 탭 영역을 특정하라. ⚠️ Figma Vision은 **정말 필요한 화면 1~3개만** 호출(남발·같은 node 반복 금지). node-id는 '착수 Figma 조회'로 얻은 실제 하위 node-id를 쓰고, 추측 id로 반복 호출하지 말 것. 툴 호출 총량을 아껴 효율적으로 작성하라. 태스크에 Figma 링크(node-id)가 있으면 1순위. 큰 노드는 응답이 잘리니 구체 node로 좁혀 조회. 디자인 무관이면 호출 금지.\n- 도구 \"GitLab File\"(파일읽기): 코드·문서를 GitLab에서 **경로로 직접 읽는다**(코드 검색 도구는 없음 — 인덱스 부재로 무용해 제거됨, 그러니 검색에 의존하려 하지 말고 아래 방식으로 경로를 파악하라). **서비스 구조·모듈·경로의 정본은 Overmind 문서다(Notion 카드보다 신선·정확) — 구조/경로가 필요하면 먼저 \"GitLab File\"로 `bomapp%2Fovermind`(ref=main)의 다음 문서를 읽어 파악하라:** `docs%2Fservices%2F<service>.md`(서비스별 모듈 구조·앱별 상세·주요 코드 경로·의존 관계; service ∈ next-backend·next-frontend·mydata-agent·mydata-mgmts-api·mydata-platform·infra·legacy-backend·az-was·bomapp-vkey), 필요 시 `docs%2Farchitecture.md`·`services.yaml`. 그 문서에서 얻은 **정확한 경로**로 대상 레포(projectId=`bomapp%2F<레포명>`, 예 bomapp%2Fnext-backend; ref=대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master)의 실제 코드 파일을 \"GitLab File\"로 읽어라(파일경로 URL-encode, 슬래시 %2F). **경로를 모르면 추측으로 반복하지 말 것 — \"GitLab Tree\"로 해당 디렉터리를 나열해 실제 파일명을 확인한 뒤 \"GitLab File\"로 읽어라(Tree는 인덱스 불필요로 항상 동작). 같은 파일을 경로만 바꿔 여러 번 시도 금지.** 코드를 전부 읽으려 하지 말고 **착수 지시서 작성에 꼭 필요한 핵심 파일 2~4개**로 제한하라. 불필요하면 호출 금지.\n- 도구 \"GitLab Tree\"(디렉터리 목록): GitLab 프로젝트 경로 하위 파일·폴더를 recursive 나열. projectId(URL-encoded)·path(슬래시 그대로, 루트는 빈값)·ref 지정. 파일 경로/이름을 모를 때 추측 대신 이걸로 실제 구조를 확인하라.\\n- Figma 화면 링크는 확인한 node id로 구성: https://www.figma.com/file/3Ifh58l7EWLXapWRys0vjf/?node-id=<id>.\n- 도구 \"과거 유사 태스크 조회(similar)\": 이 단계 작업이 과거에 다룬 적 있는 주제(같은 화면·같은 알림톡·같은 기능)면, 핵심 키워드로 과거 태스크를 조회해 그때의 결정/패턴/브리프를 참고해 일관되게 작성하라. 스스로 판단해 도움될 때만 호출.\n- 도구 \"권한 요청(access)\": 참조해야 할 Notion 페이지를 읽으려다 권한 오류(접근 불가)로 실패하면, 이 툴로 담당 채널에 접근권한 요청을 보내라(어떤 단계/페이지인지 명시). 같은 페이지는 한 번만.\n# 선행 단계 산출물 (있으면 최우선 활용)\n입력의 '선행 단계 산출물'에 이 기획의 앞 단계들(예: 디자인)이 이미 작성한 작업 지시서가 통째로 들어온다. 거기서 앞 에이전트가 힘들게 찾아낸 **Figma node id·화면·코드 파일 경로·DS 컴포넌트·결정사항을 그대로 이어받아 재사용**하라 — 같은 것을 도구로 다시 찾지 마라(헛탐색 금지, 시간·비용 절약). 네 단계는 그 산출물 위에 쌓는 것이다. 통째 복붙 말고 네 단계 관점에서 필요한 것만 인용·발전시켜라. **선행 단계가 '담당자 제출 산출물'(예: 디자인=Figma 링크, 백엔드=PR 링크)을 포함하면, 그 실제 결과물을 최우선 근거로 삼아 작업 지시서를 작성하라 — 추측 대신 제출된 산출물의 화면/PR/변경 내용을 직접 반영하고, 산출물 링크는 작업 지시서에도 명시하라.**\n원칙: 추측하지 말고 Hub 카드로 확인해 근거 있게 쓰세요. 정보 부족하면 결정 사항에 남기세요.\n\n# 출력 형식(단계별)\n공통: 마지막에 ## 결정 사항 — 사람 판단이 필요한 것만(없으면 없음). 일정·소요시간 추정 금지. 이미 Q&A로 결정된 것 재나열 금지. 착수 전 체크리스트/착수 계획 섹션 만들지 말 것. **헤더는 ###(h3)까지만 사용 — #### 이상 금지(Notion 미지원).**\n[디자인] ## 작업 개요 / ## 화면별 작업(화면마다 '무엇을 만들/바꿀지'와 적합한 **BDS 패턴·컴포넌트·디자인 토큰을 이름/id로 '제안'**. 기존 화면 있으면 Figma 링크, 없으면 ## 와이어프레임(ASCII) 레이아웃 안) / ## 인터랙션 & 플로우([버튼/요소]→다음 화면·동작 + 쓰면 좋을 DS 컴포넌트 제안). ⚠️ **디자인 디테일(정확한 px·색상값·간격·radius 등)은 디자이너의 창의 영역 — 단정해 지시하지 말 것.** 어떤 패턴/템플릿/컴포넌트/토큰을 쓰면 좋겠다는 '제안'에 그쳐라. 굳이 수치·색을 적고 싶으면 반드시 '(제안)'이라고 명시해 디자이너가 자유롭게 판단하게 한다.\n[개발] ## 작업 개요 / ## 구현 항목 / ## 예외·엣지 / ## 의존성.\n[QA] ## 작업 개요 / ## 인수 기준 / ## 테스트 시나리오.\n작업 지시서(brief, 마크다운)를 화면별 작업·인터랙션·DS 컴포넌트/토큰·결정사항까지 **가능한 한 구체적이고 풍부하게** 작성한다. summary는 슬랙 통보용 1줄. process에는 어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단을 기록한다. **단 process는 간결하게 핵심만 — 도구·Vision·파일 조회 결과 원문을 통째로 옮기지 말고 한두 줄로 요약하라. 출력 전체가 비대해지면 최종 JSON이 잘려 실패한다.** 최종 답변은 반드시 완결된 JSON 한 덩어리로만(앞뒤 설명/마크다운 펜스 금지). 반드시 지정 JSON 스키마로만 답하세요."
        },
        "promptType": "define",
        "text": "=직무: {{ $json.persona }} / 단계: {{ $json.stage }}\n제목: {{ $json.title }}\n기획 page id: {{ $json.pageId }}\n\n정리된 기획 브리프:\n{{ $json.brief }}\n\n기획 단계 질문·답변(이미 결정된 사실):\n{{ $json.qa }}\n\n[선행 단계 컨텍스트 — 앞 단계들의 작업 지시서 + 담당자가 제출한 실제 산출물(피그마/PR/문서 링크). 여기 적힌 Figma node id·화면·코드 경로·PR·결정을 그대로 이어받고 다시 찾지 말 것. '담당자 제출 산출물' 링크가 있으면 그 결과물을 최우선 근거로 삼아라]\n{{ $json.priorContext }}"
      },
      "position": [
        1184,
        112
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "credentials": {
        "aws": {
          "id": "GftVHJqfxQshQZ4P",
          "name": "AWS (IAM) account"
        }
      },
      "id": "df69cf3e-47d4-47a0-b499-afc890cc5dea",
      "name": "착수 Sonnet",
      "parameters": {
        "model": "global.anthropic.claude-sonnet-4-6",
        "modelSource": "inferenceProfile",
        "options": {
          "cacheSystemPrompt": true,
          "cacheTools": true,
          "cacheTtl": "5m",
          "enablePromptCaching": true,
          "maxTokensToSample": 32000,
          "temperature": 0.2
        }
      },
      "position": [
        1120,
        336
      ],
      "type": "n8n-nodes-bedrock-advanced.lmChatAwsBedrockAdvanced",
      "typeVersion": 1
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "e77048bb-b3f7-471d-b794-9d37357a7bf4",
      "name": "착수 Hub 읽기",
      "onError": "continueRegularOutput",
      "parameters": {
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cardId', '읽을 Notion page id (메뉴의 카드 id 또는 기획 page id)') }}"
        },
        "descriptionType": "manual",
        "operation": "getAll",
        "resource": "block",
        "returnAll": true,
        "toolDescription": "Context Hub 카드나 기획 태스크 본문을 Notion page id로 읽는다"
      },
      "position": [
        1248,
        336
      ],
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2
    },
    {
      "id": "3dd6841e-248a-4edb-82ba-e37e348cd394",
      "name": "착수 파서",
      "parameters": {
        "jsonSchemaExample": "{ \"brief\": \"## 작업 개요\\n...\\n## 결정 사항\\n- (사람 판단 필요, 없으면 없음)\", \"summary\": \"슬랙 통보용 1줄\", \"process\": \"어떤 Hub카드/Figma node/GitLab을 왜 조회하고 무엇을 근거로/추측으로 판단했는지 사고·판단 기록(간결, brief 품질을 해치지 않는 선에서)\" }"
      },
      "position": [
        1376,
        336
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "08bf7fad-683b-49da-942c-1d7c65beedbe",
      "name": "서브태스크 생성",
      "parameters": {
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "fd91ec8d-1025-4439-9d56-71af49eecac2"
        },
        "operation": "create",
        "options": {},
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "타입|select",
              "selectValue": "={{ $('스테이지·페르소나 결정').first().json.stage }}"
            },
            {
              "key": "관계된 ✅ TASK|relation",
              "relationValue": [
                "={{ $('스테이지·페르소나 결정').first().json.pageId }}"
              ]
            }
          ]
        },
        "resource": "databasePage",
        "title": "=[{{ $('스테이지·페르소나 결정').first().json.stage }}] {{ $('스테이지·페르소나 결정').first().json.title }}"
      },
      "position": [
        1584,
        112
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    },
    {
      "id": "dc28234e-a315-4714-a9bf-a47021e045a4",
      "name": "착수 통보 메시지",
      "parameters": {
        "jsCode": "const st=$('스테이지·페르소나 결정').first().json;const out=$('착수준비 게이트').first().json.output||{};const sub=$('서브태스크 생성').first().json;const url=(sub&&sub.url)?sub.url:'';const text='[' + st.stage + '] 착수 준비가 생성됐어요 — '+st.persona+' 관점\\n파이프라인: '+(st.pipeline||st.stage)+'\\n'+(out.summary||'')+(url?('\\n서브태스크: '+url):'');return [{json:{body:{channel:st.channelId,thread_ts:st.threadTs,text:text}}}];"
      },
      "position": [
        2200,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKR5k0AAH8p23JJj",
          "name": "Figma PAT"
        }
      },
      "id": "71462b87-ea0d-4d5b-ba1d-4e0265947247",
      "name": "착수 Figma 조회",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "maxLength": 12000,
        "method": "GET",
        "optimizeResponse": true,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ids', '조회할 Figma node id (예 11095:53827). 여러 개면 콤마 구분', 'string') }}"
            },
            {
              "name": "depth",
              "value": "1"
            }
          ]
        },
        "responseType": "text",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "toolDescription": "Figma 파일의 특정 node id 구조를 조회(디자인 건만)",
        "truncateResponse": true,
        "url": "=https://api.figma.com/v1/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fileKey', '조회할 Figma 파일 key (figma.com/design/<KEY>/... 의 KEY). DS 컴포넌트·토큰·화면취합 개요는 3Ifh58l7EWLXapWRys0vjf, 기능별 실제 화면은 태스크/Hub 카드에 링크된 파일 키 사용', 'string') }}/nodes"
      },
      "position": [
        1480,
        336
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4
    },
    {
      "id": "c7942cb9-51cc-45c0-a4da-f2cbaaf4b9ab",
      "name": "본문 청크",
      "parameters": {
        "jsCode": "const brief = (($('착수준비 게이트').first().json.output) || {}).brief || '';\nconst pageId = $('서브태스크 생성').first().json.id;\n\nfunction inline(s) {\n  s = String(s == null ? '' : s);\n  const out = [];\n  const re = /(\\*\\*([^*]+)\\*\\*|`([^`]+)`|\\[([^\\]]+)\\]\\(([^)\\s]+)\\)|(https?:\\/\\/[^\\s)\\]]+))/g;\n  let last = 0, m;\n  while ((m = re.exec(s)) !== null) {\n    if (m.index > last) out.push({ type: 'text', text: { content: s.slice(last, m.index) } });\n    if (m[2] !== undefined) out.push({ type: 'text', text: { content: m[2] }, annotations: { bold: true } });\n    else if (m[3] !== undefined) out.push({ type: 'text', text: { content: m[3] }, annotations: { code: true } });\n    else if (m[4] !== undefined) out.push({ type: 'text', text: { content: m[4], link: { url: m[5] } } });\n    else if (m[6] !== undefined) out.push({ type: 'text', text: { content: m[6], link: { url: m[6] } } });\n    last = re.lastIndex;\n  }\n  if (last < s.length) out.push({ type: 'text', text: { content: s.slice(last) } });\n  if (!out.length) out.push({ type: 'text', text: { content: '' } });\n  const split = [];\n  out.forEach(function (rt) {\n    const c = rt.text.content;\n    if (c.length <= 2000) { split.push(rt); return; }\n    for (let j = 0; j < c.length; j += 2000) {\n      split.push({ type: 'text', text: { content: c.slice(j, j + 2000), link: rt.text.link }, annotations: rt.annotations });\n    }\n  });\n  return split;\n}\nfunction cells(line) {\n  const parts = line.split('|');\n  if (parts.length && parts[0].trim() === '') parts.shift();\n  if (parts.length && parts[parts.length - 1].trim() === '') parts.pop();\n  return parts.map(function (c) { return c.trim(); });\n}\n\nconst lines = brief.split('\\n');\nconst blocks = [];\nlet i = 0;\nwhile (i < lines.length) {\n  const line = lines[i];\n  if (line.trim().indexOf('```') === 0) {\n    const buf = []; i++;\n    while (i < lines.length && lines[i].trim().indexOf('```') !== 0) { buf.push(lines[i]); i++; }\n    i++;\n    let code = buf.join('\\n'); if (code.length > 2000) code = code.slice(0, 2000);\n    blocks.push({ object: 'block', type: 'code', code: { rich_text: [{ type: 'text', text: { content: code || ' ' } }], language: 'plain text' } });\n    continue;\n  }\n  if (line.trim().indexOf('|') === 0 && i + 1 < lines.length && /^[\\s|:-]+$/.test(lines[i + 1]) && lines[i + 1].indexOf('-') !== -1) {\n    const header = cells(line);\n    const width = header.length;\n    const rows = [header];\n    i += 2;\n    while (i < lines.length && lines[i].trim().indexOf('|') === 0) { rows.push(cells(lines[i])); i++; }\n    const children = rows.map(function (r) {\n      const c = [];\n      for (let k = 0; k < width; k++) c.push(inline(r[k] || ''));\n      return { object: 'block', type: 'table_row', table_row: { cells: c } };\n    });\n    blocks.push({ object: 'block', type: 'table', table: { table_width: width, has_column_header: true, has_row_header: false, children: children } });\n    continue;\n  }\n  const hm = line.match(/^(#{1,6})\\s+(.*)$/);\n  if (hm) {\n    const key = 'heading_' + Math.min(hm[1].length, 3); // Notion 최대 h3 → #### 이상 클램프\n    const b = { object: 'block', type: key }; b[key] = { rich_text: inline(hm[2]) };\n    blocks.push(b); i++; continue;\n  }\n  const bm = line.match(/^\\s*[-*]\\s+(.*)$/);\n  if (bm) { blocks.push({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: inline(bm[1]) } }); i++; continue; }\n  const nm = line.match(/^\\s*\\d+\\.\\s+(.*)$/);\n  if (nm) { blocks.push({ object: 'block', type: 'numbered_list_item', numbered_list_item: { rich_text: inline(nm[1]) } }); i++; continue; }\n  if (line.trim() === '---' || line.trim() === '***') { blocks.push({ object: 'block', type: 'divider', divider: {} }); i++; continue; }\n  if (line.trim() === '') { i++; continue; }\n  blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(line) } });\n  i++;\n}\nif (!blocks.length) blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '(본문 없음)' } }] } });\n\n// AI 작업 과정 토글(맨 위·접힘) — 💭 사고(모델 서술 process) + 🔧 실제 호출이력(intermediateSteps 검증)\nconst steps = (($('착수준비 게이트').first().json) || {}).intermediateSteps || [];\nconst proc = ((($('착수준비 게이트').first().json.output) || {}).process || '').trim();\nconst TOOLMAP = { '_Hub_': 'Hub 카드 읽기', '_Figma_': 'Figma 조회', 'GitLab_Search': 'GitLab 검색', 'GitLab_File': 'GitLab 파일' };\nfunction clip(v, n) { let s = (typeof v === 'object') ? JSON.stringify(v) : String(v == null ? '' : v); s = s.replace(/\\s+/g, ' ').trim(); return s.length > n ? s.slice(0, n) + '…' : s; }\nfunction boldpara(t) { return { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: t }, annotations: { bold: true } }] } }; }\nconst tchildren = [];\nif (proc) {\n  tchildren.push(boldpara('💭 사고·판단 (모델이 서술한 과정)'));\n  proc.split('\\n').forEach(function (ln) {\n    if (ln.trim() === '') return;\n    let t = ln; if (t.length > 2000) t = t.slice(0, 2000);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: inline(t) } });\n  });\n}\nif (steps.length) {\n  tchildren.push(boldpara('🔧 실제 호출 이력 (검증된 사실, ' + steps.length + '회)'));\n  steps.forEach(function (s, idx) {\n    const a = s.action || {};\n    const tool = TOOLMAP[a.tool] || a.tool || '?';\n    const inp = clip(a.toolInput, 300);\n    const obs = clip(s.observation, 700);\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '🔧 ' + (idx + 1) + '. ' + tool }, annotations: { bold: true } }, { type: 'text', text: { content: '  입력: ' + inp } }] } });\n    tchildren.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '← 결과: ' + obs }, annotations: { code: true } }] } });\n  });\n}\nif (tchildren.length) {\n  blocks.unshift({ object: 'block', type: 'toggle', toggle: { rich_text: [{ type: 'text', text: { content: '🔍 AI 작업 과정 (사고 + 실제 호출) — 펼쳐보기' } }], children: tchildren.slice(0, 80) } });\n}\n\nconst groups = [];\nfor (let g = 0; g < blocks.length; g += 90) groups.push(blocks.slice(g, g + 90));\nreturn groups.map(function (gr) { return { json: { pageId: pageId, children: gr } }; });\n"
      },
      "position": [
        1760,
        320
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "beadbe04-7763-4466-a0c8-e6fcf922bd5b",
      "name": "본문 추가",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "jsonBody": "={{ ({ children: $json.children }) }}",
        "method": "PATCH",
        "nodeCredentialType": "notionApi",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children"
      },
      "position": [
        1960,
        320
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "KfGsGBBxzggLur5X",
          "name": "Gitlab PAT"
        }
      },
      "id": "gitlab-readfile-tool-001",
      "name": "GitLab File",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "maxLength": 10000,
        "method": "GET",
        "optimizeResponse": true,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ref', '브랜치: 대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master', 'string') }}"
            }
          ]
        },
        "responseType": "text",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "toolDescription": "GitLab 프로젝트의 특정 파일 raw 내용 조회.",
        "truncateResponse": true,
        "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend', 'string') }}/repository/files/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filePath', '파일경로 URL-encoded, 슬래시는 %2F 예 docs%2Fservices%2Fnext-backend.md', 'string') }}/raw"
      },
      "position": [
        1640,
        500
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4
    },
    {
      "id": "figma-vision-tool-0001",
      "name": "Figma Vision",
      "parameters": {
        "description": "Figma 화면(node-id)을 실제 이미지로 보고 화면 설명을 받는다. 캡처/스크린샷 화면도 내용(레이아웃·요소·텍스트·상태) 파악 가능. 디자인 작업 시 관련 기존 화면을 시각 확인할 때 사용.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Overmind Figma Vision · 화면 설명",
          "mode": "id",
          "value": "YN6uIteF2X5BAo85"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "nodeId",
              "id": "nodeId",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "question",
              "id": "question",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "fileKey",
              "id": "fileKey",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "fileKey": "3Ifh58l7EWLXapWRys0vjf",
            "nodeId": "={{ $fromAI('nodeId', '볼 Figma node id (예 10914-6407). 화면취합/디자인카드에서 얻은 화면 id', 'string') }}",
            "question": "={{ $fromAI('question', '이 화면에서 알고 싶은 것(없으면 전체 설명)', 'string') }}"
          }
        }
      },
      "position": [
        1800,
        500
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "id": "33da6c03-4def-40c4-b356-8f82a8dbb0d6",
      "name": "단계 기록",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now.toISO() }}",
            "depends_on": "[]",
            "parent_page_id": "={{ $('스테이지·페르소나 결정').first().json.pageId }}",
            "persona": "={{ $('스테이지·페르소나 결정').first().json.persona }}",
            "pipeline": "={{ $('스테이지·페르소나 결정').first().json.pipeline }}",
            "stage": "={{ $('스테이지·페르소나 결정').first().json.stage }}",
            "stage_brief": "={{ (($('착수준비 게이트').first().json.output) || {}).brief || '' }}",
            "status": "created",
            "subtask_page_id": "={{ $('서브태스크 생성').first().json.id }}",
            "title": "={{ $('스테이지·페르소나 결정').first().json.title }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "16uFko9jgm6gFs0T"
        },
        "operation": "insert",
        "options": {},
        "resource": "row"
      },
      "position": [
        1760,
        120
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "KfGsGBBxzggLur5X",
          "name": "Gitlab PAT"
        }
      },
      "id": "gitlab-tree-tool-001",
      "name": "GitLab Tree",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "maxLength": 10000,
        "method": "GET",
        "optimizeResponse": true,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('path', '디렉터리 경로(슬래시 그대로, 예 bomapp-domain/rds/src/main/java/kr/co/bomapp/domain/rds). 루트는 빈 문자열', 'string') }}"
            },
            {
              "name": "ref",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ref', '브랜치: 대부분 main, next-backend·bomapp-aos=prod, legacy-backend·bomapp-homepage=master', 'string') }}"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "responseType": "text",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "toolDescription": "GitLab 프로젝트의 디렉터리 하위 파일·폴더 목록을 recursive로 나열. 정확한 파일 경로/이름을 모를 때 추측하지 말고 이걸로 실제 구조를 확인한 뒤 GitLab File 로 읽어라.",
        "truncateResponse": true,
        "url": "=https://gitlab.bomapp.co.kr/api/v4/projects/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projectId', 'GitLab 프로젝트 URL-encoded path 예 bomapp%2Fnext-backend', 'string') }}/repository/tree"
      },
      "position": [
        1640,
        680
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "notionApi": {
          "id": "b03vHUApw6s0O5jS",
          "name": "Notion account"
        }
      },
      "id": "similar-task-tool-001",
      "name": "과거 유사 태스크 조회(similar)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ filter: { property: '테스크명', title: { contains: /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', '이 단계 작업과 비슷한 과거 태스크를 찾을 핵심 키워드 한 단어(화면명·기능명·알림톡 종류 등)', 'string') } }, page_size: 5, sorts: [{ timestamp: 'created_time', direction: 'descending' }] }) }}",
        "maxLength": 9000,
        "method": "POST",
        "nodeCredentialType": "notionApi",
        "optimizeResponse": true,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "responseType": "text",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "keypair",
        "toolDescription": "이 단계 작업과 비슷한 '과거에 진행된 태스크'를 Notion TASK DB에서 키워드로 조회한다. 같은 화면·같은 알림톡·같은 기능의 과거 기획·디자인·개발·QA 작업이 어떻게 처리됐는지 참고해 일관되게 작성할 때 사용. keyword에는 화면명/기능명/알림톡 종류 같은 핵심어 하나를 넣어라.",
        "truncateResponse": true,
        "url": "https://api.notion.com/v1/databases/fd91ec8d-1025-4439-9d56-71af49eecac2/query"
      },
      "position": [
        1640,
        660
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "slackApi": {
          "id": "bjozecrw9OnFT8Lf",
          "name": "Botmap"
        }
      },
      "id": "access-request-tool-001",
      "name": "권한 요청(access)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0B9LE2FF36', text: '⚠️ *[Notion 접근권한 요청]* ' + /*n8n-auto-generated-fromAI-override*/ $fromAI('message', '어느 단계 작업 중 어떤 Notion 페이지(URL 또는 page id)에 접근이 막혔는지와 Overmind 통합에 공유해 달라는 요청을 한국어 한두 문장으로', 'string') }) }}",
        "maxLength": 500,
        "method": "POST",
        "nodeCredentialType": "slackApi",
        "optimizeResponse": true,
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "responseType": "text",
        "sendBody": true,
        "specifyBody": "json",
        "toolDescription": "작업 중 Overmind가 접근할 수 없는(권한 없는) Notion 페이지를 만났을 때 담당 Slack 채널에 접근권한 요청을 보낸다. Notion 페이지 읽기가 권한 오류로 실패한 경우에만 사용. message에는 어떤 단계/페이지인지와 접근이 필요한 이유를 적어라. 같은 페이지는 한 실행에서 한 번만 요청.",
        "truncateResponse": true,
        "url": "https://slack.com/api/chat.postMessage"
      },
      "position": [
        1640,
        800
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4
    },
    {
      "id": "wf3-safe-send-0001",
      "name": "안전 전송",
      "parameters": {
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        },
        "source": "database",
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Overmind · Slack 안전 전송(자동 분할)",
          "mode": "id",
          "value": "Vmgmo0MP7v2ghMD0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "channel",
              "id": "channel",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "text",
              "id": "text",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "threadTs",
              "id": "threadTs",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "updateTs",
              "id": "updateTs",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "channel": "={{ $json.body.channel }}",
            "text": "={{ $json.body.text }}",
            "threadTs": "={{ $json.body.thread_ts }}",
            "updateTs": ""
          }
        }
      },
      "position": [
        2420,
        112
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": true,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-17T10:39:41.650Z",
      "project": {
        "createdAt": "2026-05-27T07:22:23.960Z",
        "creatorId": "a21b517f-2fe1-415b-b9fb-6be427af4460",
        "description": null,
        "icon": null,
        "id": "501Q7eGEKoHjxZfp",
        "name": "재은 김 <justin@bomapp.co.kr>",
        "type": "personal",
        "updatedAt": "2026-05-27T07:24:05.558Z"
      },
      "projectId": "501Q7eGEKoHjxZfp",
      "role": "workflow:owner",
      "updatedAt": "2026-06-17T10:39:41.650Z",
      "workflowId": "m6YGNNCEP5RI3SSF"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-03T08:13:42.094Z",
  "versionCounter": 187,
  "versionId": "879486ab-dcf9-4d73-bd27-3872b77f7f53"
}
